@model Teamkeep.Models.ViewModels.TeamViewModel
@{
    ViewBag.App = "teamkeep";
    ViewBag.Title = @Model.Team != null ? Model.Team.Name : "Teams";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div ng-controller="HeaderController">
            
    <div class="sidebar" teamkeep-sidebar="sidebarActive">
        <ul class="nav nav-stacked nav-stacked-lg">
            <li ng-class="{active: title == 'Schedule'}">
                <a href="#/schedule">Schedule</a>
            </li>
            <li ng-class="{active: title == 'Roster'}" ng-if="showRoster">
                <a href="#/roster">Roster</a>
            </li>
            <li ng-class="{active: title == 'Availability'}" ng-if="editable">
                <a href="#/availability">Availability</a>
            </li>
            <li ng-class="{active: title == 'Messaging'}" ng-if="editable">
                <a href="#/messages">Messaging</a>
            </li>
            <li ng-class="{active: title == 'Settings'}" ng-if="editable">
                <a href="#/settings">Settings</a>
            </li>
        </ul>
        <ul class="nav nav-stacked" ng-if="loggedIn">
            <li ng-class="{active: team.Id == id}" ng-repeat="team in teams">
                <a href="{{team.Url}}">{{team.Name}}</a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#create-team-modal">Create new team <i class="icon-plus pull-right"></i></a>
            </li>
        </ul>
        <ul class="nav nav-stacked" ng-if="loggedIn">
            <li ng-class="{active: title == 'User Settings'}">
                <a href="#/user">
                    <span class="badge pull-right" ng-show="!userVerified">!</span>
                    {{userTitle}}
                </a>
            </li>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
        <ul class="nav nav-stacked" ng-if="!loggedIn">
            <li>
                <a href="/">
                    Login
                </a>
            </li>
        </ul>
    </div>
            
    <div class="container hidden-xs">
        <div class="row banner" ng-style="{'background-image': 'url(' + bannerImage + ')'}">
            <h1>{{name()}}</h1>
        </div>
    </div>

    <div create-team-modal="createTeamModalActive" dismissable="createTeamModalDismissable"></div>

</div>
<div ng-view></div>

<script>
var viewData = @Html.Raw(Json.Encode(Model));
</script>