@model Teamkeep.Models.ViewModels.TeamViewModel
@{
    ViewBag.App = "teamkeep";
    ViewBag.Title = @Model.Team != null ? Model.Team.Name : "Teams";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div ng-controller="HeaderController">
            
    <div class="affix" data-spy="affix" data-offset-top="0" teamkeep-sidebar="sidebarActive">
        <ul class="nav nav-stacked nav-stacked-lg">
            <li ng-class="{active: title == 'Schedule'}"><a ng-click="goto('schedule')">Schedule</a></li>
            <li ng-class="{active: title == 'Roster'}"><a ng-click="goto('roster')">Roster</a></li>
            <li ng-class="{active: title == 'Availability'}"><a ng-click="goto('availability')">Availability</a></li>
            <li ng-class="{active: title == 'Messaging'}"><a ng-click="goto('messages')">Messaging</a></li>
            <li ng-class="{active: title == 'Settings'}"><a ng-click="goto('settings')">Settings</a></li>
        </ul>
        <hr />
        <ul class="nav nav-stacked">
            <li ng-class="{active: team.Id == id}" ng-repeat="team in teams"><a href="{{team.Url}}">{{team.Name}}</a></li>
            <li><a data-toggle="modal" data-target="#newteam-modal">Create new team<i class="icon-plus pull-right"></i></a></li>
        </ul>
        <hr />
        <ul class="nav nav-stacked">
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
            
    <div class="container hidden-xs">
        <div class="row banner" ng-style="{'background-image': 'url(' + bannerImage + ')'}">
            <h1>{{name()}}</h1>
        </div>
    </div>

</div>
<div ng-view></div>

<div newteam-modal="{ open: false }"></div>

<script>
var viewData = @Html.Raw(Json.Encode(Model));
</script>