@model TeamKeep.Models.ViewModels.TeamViewModel
@{
    ViewBag.App = "teamkeep";
    ViewBag.Title = @Model.Team.Name;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div ng-controller="HeaderController">
            
    <div data-spy="affix" data-offset-top="0" teamkeep-sidebar="sidebarActive">
        <ul class="nav nav-stacked">
            <li><a href="#/schedule">Schedule</a></li>
            <li><a href="#/roster">Roster</a></li>
            <li><a href="#/availability">Availability</a></li>
            <li><a href="#/messages">Messaging</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
    </div>
            
    <div class="container hidden-xs">
        <div class="row banner" ng-style="{'background-image': 'url(' + bannerImage + ')'}">
            <h1>{{name()}}</h1>
        </div>
    </div>

</div>
<div ng-view></div>

<script>
var viewData = @Html.Raw(Json.Encode(Model));
</script>