<div ng-controller="MessagesController">
    <div class="text-center" ng-if="messages.length == 0">
        <p>
            No messages have been recorded
        </p>
    </div>
    <ul class="newsfeed" ng-if="messages.length > 0">
        <li ng-repeat="message in messages | orderBy:predicate:true">
            <i class="icon-envelope icon-2x"></i> 
            <article>
                <h6>
                    <a data-toggle="tab" href="#log-message" ng-click="selectMessage(message)">{{message.Subject}}</a>
                </h6>
                <time>
                    {{timePast(message)}}
                </time>
                <p>
                    {{abbreviatedContent(message)}}
                </p>
            </article>
        </li>
    </ul>
</div>