@{
    ViewBag.Title = "Private Team";
    Layout = "~/Views/Shared/Master.cshtml";
}
<h1>Sorry, this page is private!</h1>
<p>
    This team has not made their home page public at this time.
</p>
<p>
    If you are the owner of this team and would like to make it viewable to the public:
</p>
<ol>
    <li>Login</li>
    <li>On your team page, click 'Settings'</li>
    <li>Under the 'Privacy' settings, set 'Home page' to public</li>
</ol>
