
<div class="table-container stacks">
    <div class="table-controls">
        <div class="column-select pull-left">
        </div>
        <div class="pull-right">
        </div>
        <div style="clear: both;"></div>
    </div>
    <table>
        <thead>
            <tr data-bind="toggleHeader: Columns"></tr>
        </thead>
        <tbody>
            <!-- ko if: Messages().length == 0 -->
            <tr>
                <td class="fullinfo" colspan="3">No messages have been recorded</td>
            </tr>
            <!-- /ko -->
            
            <!-- ko foreach: Messages -->
            <tr>
                <td class="button">
                    <a id="dropLabelRoster" class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#"><i class="icon-edit"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropLabelRoster">
                        <li><a tabindex="-1" data-bind="click: $root.RemoveMessage">Remove</a></li>
                    </ul>
                </td>
                <td  class="date">
                    <input type="text" class="mod" data-bind="value: DateTime, editable: false, event: { change: Update }" />
                </td>
                <td class="max">
                    <input type="text" class="mod" data-toggle="modal" data-target="#sent-message-modal" data-bind="value: Subject, editable: false, click: function() { $root.SelectedMessage($data); }" />
                </td>
            </tr>
            <!-- /ko -->
            
        </tbody>
    </table>
</div>
<div id="sent-message-modal" class="modal hide fade" data-bind="with: SelectedMessage">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sent message</h3>
    </div>
    <div class="modal-body">
        <div class="horizontal">
            <label>Sent</label>
            <span data-bind="text: DateTime"></span>
        </div>
        <div class="horizontal">
            <label>To</label>
            <span data-bind="text: To"></span>
        </div>
        
        <h4 data-bind="text: Subject"></h4>
        <div data-bind="html: Content"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
    </div>
</div>
<script>
    var MessagesViewModel = function() {
        var me = this;

        this.Editable = teamViewModel.Editable;
        this.Url = teamViewModel.Url;
        this.Messages = teamViewModel.Messages;

        this.SelectedMessage = ko.observable();

        $.extend(me, new SortableCollectionDataModel(me, {
            TableElement: $("#messages table"),
            ItemName: "Messages"
        }));

        this.RemoveMessage = function (message) {
            $.ajax({
                type: "DELETE", url: me.Url() + "/messages",
                contentType: "application/json",
                data: JSON.stringify({
                    Message: {
                        Id: message.Id()
                    }
                }),
                complete: function (response) {
                    me.Messages.remove(message);
                }
            });
        };

        this.Columns = ko.observableArray([
            {
                CssClass: "button",
                Name: "",
                Visible: ko.observable(true),
                Toggleable: false,
                SortType: null
            },
            {
                CssClass: "sort-date date",
                Name: "Date",
                ToolTip: "Date message was sent",
                Visible: ko.observable(true),
                Toggleable: false,
                SortType: "dateTime"
            },
            {
                CssClass: "sort-subject max",
                Name: "Subject",
                ToolTip: "Subject of the message",
                Visible: ko.observable(true),
                Toggleable: false,
                SortType: "subject"
            }
        ]);

        // Sorting
        this.SortType = ko.observable("dateTimeDescending");
        this.SortType.subscribe(function () {
            me.Sort();
        });

        var sortTypes = {
            dateTime: {
                heading: "#messages .sort-date",
                isDescending: false
            },
            dateTimeDescending: {
                heading: "#messages .sort-date",
                isDescending: true
            },
            subject: {
                heading: "#messages .sort-subject",
                isDescending: false,
            },
            subjectDescending: {
                heading: "#messages .sort-subject",
                isDescending: true,
            }
        };

        this.ToggleSort = function (sortType) {
            if (sortType == "dateTime") {
                me.SortType() == "dateTime" ? me.SortType("dateTimeDescending") : me.SortType("dateTime");
            }
            else if (sortType == "subject") {
                me.SortType() == "subjectDescending" ? me.SortType("subject") : me.SortType("subjectDescending");
            }
        };
        this.Sort = function () {

            var isDescending = sortTypes[me.SortType()].isDescending;
            switch (me.SortType()) {
                case "dateTime":
                case "dateTimeDescending":
                    me.SortByDate(isDescending);
                    break;
                case "subject":
                case "subjectDescending":
                    me.SortBy("Subject", isDescending);
                    break;
            }

            $("#messages .table-container th").css({ "background-image": "none" });

            var $sortedHeading = $(sortTypes[me.SortType()].heading);
            if (!isDescending) {
                $sortedHeading.css({ "background-image": "url('/img/sort-up.png')", "background-position": "top center" });
            } else {
                $sortedHeading.css({ "background-image": "url('/img/sort-down.png')", "background-position": "bottom center" });
            }
        };
    };

    $(function () {
        window.messagesViewModel = new MessagesViewModel();
        ko.applyBindings(window.messagesViewModel, document.getElementById("messages"));
        window.messagesViewModel.Sort();
    });
    
    $("#messages table").tooltip({ selector: "*[data-toggle='tooltip']" });
</script>