@{
    ViewBag.Title = "Private Team";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container">
    <div class="row">
        <div class="span8">
            <h1>Sorry, this page is private!</h1>
            <p>
                This team has not made their home page public at this time.
            </p>
            <p>
                If you are the owner of this team and would like to make it viewable:
            </p>
            <ol>
                <li>Login</li>
                <li>On this team's page, click the gear icon to open team settings</li>
                <li>Under the 'Privacy' settings, set 'Home page' to public</li>
            </ol>
        </div>
    </div>
</div>