@model Teamkeep.Models.ViewModels.TeamViewModel
@{
    ViewBag.Title = @Model.Team.Name;
    ViewBag.TeamHeader = true;
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container nophonepad">
    <div id="team-data">
        <ng-view />
    </div>
</div>
<div class="container hidden-phone" ng-controller="TutorialController">
    <div class="tutorial-step" ng-repeat="step in steps" ng-show="step.active" ng-style="step.position">
        <button type="button" class="close" title="Close tutorial" ng-click="$parent.close()">&times;</button>
        <h4>{{step.heading}}</h4>
        <div ng-bind-html-unsafe="step.content"></div>
        <div class="pull-right">
            <button type="button" class="btn" ng-click="$parent.close()" ng-show="step.decline">No thanks</button>
            <button type="button" class="btn" ng-click="$parent.next()" ng-show="step.next">Next</button>
            <button type="button" class="btn" ng-click="$parent.close()" ng-show="step.close">Close</button>
        </div>
    </div>
</div>