<div id="team-header" ng-controller="HeaderController">
    <div id="team-banner" class="container" data-bind="style: { backgroundImage: BannerBackgroundImage }">
        <a href="{{teamUrl}}"><h1>{{teamName}}</h1></a>

        <div ng-if="editable">
            <div class="hover-edit" data-toggle="modal" data-target="#team-banner-modal">
                <i class="icon-pencil"></i> Edit banner
            </div>
            <div id="team-functions" class="btn-group" ng-switch="messageButtonEnabled()">
                <a ng-switch-when="true" class="btn btn-info" href="#/compose" ng-click="messageButton()">Message team</a>
                <button ng-switch-when="false" class="btn btn-info disabled" title="Will become available once you've added a team member email to your roster">Message team</button>
                <a class="btn btn-info" href="#/settings"><i class="icon-cog"></i></a>
            </div>
        </div>

        <form id="team-banner-modal" class="modal hide fade" data-bind="submit: SaveBanner">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit banner</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-error hide">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span></span>
                </div>
                <p>
                    Please resize images so as to not exceed 2MB in size. 
                    For best results banner images should be wide, short images (height around 200 pixels).
                </p>
                <p>
                    <input id="banner-file" type="file" style="display: none"/>
                    <div class="input-append">
                        <input type="text" id="banner-file-name" class="input-large" />
                        <button class="btn btn-info" type="button" onclick="$('#banner-file').click();">Browse</button>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-success">
                    <i class="icon-spinner icon-spin" style="display: none"></i> Upload banner
                </button>
            </div>
        </form>
        
        <form id="user-email-modal" class="modal hide fade" ng-submit="saveEmail()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>One last thing</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-error" ng-show="error">
                    <span>{{error}}</span>
                </div>
                <p>
                    You didn't provide an email address when you registered. In order to send messages on your behalf 
                    we need an email address for recipients to reply to.
                </p>
                <p>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" placeholder="Email address" ng-model="email" />
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" spinner="evaluating">Set email</button>
            </div>
        </form>
    </div>
    <ul id="team-nav" class="container">
        <li><a href="#/schedule">Schedule</a></li>
        @if (Model.Team.Editable || Model.Team.Privacy.Roster)
        {
        <li><a href="#/roster">Roster</a></li>
        }
        @if (Model.Team.Editable)
        {
            <li ng-switch="availabilityVisible()">
                <a ng-switch-when="true" href="#/availability">Availability</a>
                <a ng-switch-when="false" class="disabled" title="Will become available once you've added a dated event to your schedule and one member to your roster">Availability</a>
            </li>
            <li><a href="#/duties">Duties</a></li>
            <li><a href="#/messages">Messages</a></li>
        }
    </ul>

</div>
<script>
    var TeamHeaderViewModel = function () {
        var me = this;

        // From shared storage
        this.Url = teamViewModel.Url;
        this.BannerImage = teamViewModel.BannerImage;
        this.BannerBackgroundImage = ko.computed(function () {
            return (me.BannerImage() != null) ? "url('/TeamBanners/" + me.BannerImage() + "')" : "url('/img/defaultbanner.jpg')";
        });
        
        this.SaveBanner = function () {

            if ($("#banner-file").val().length === 0) {
                return $("#alert-modal").fadeAlert("show", "Please select a valid image file");
            }

            $("#team-banner-modal .icon-spin").show();
            $("#team-banner-modal button").prop("disabled", true);

            var file = document.getElementById("banner-file").files[0];

            // http://holyhoehle.wordpress.com/2010/09/19/uploading-files-using-ajax/
            $.ajax({
                type: "PUT", url: me.Url() + "/banner",
                processData: false,
                data: file,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Cache-Control", "no-cache");
                    xhr.setRequestHeader("X-File-Name", file.name);
                    xhr.setRequestHeader("Content-Type", "multipart/form-data");
                },
                success: function () {
                    window.location.reload();
                },
                error: function (response) {
                    $("#alert-modal").fadeAlert("show", JSON.parse(response.responseText));
                    $("#team-banner-modal .icon-spin").hide();
                    $("#team-banner-modal button").prop("disabled", false);
                }
            });
            return true;
        };
    };

    $(function () {
        
        window.teamHeaderViewModel = new TeamHeaderViewModel();
        ko.applyBindings(window.teamHeaderViewModel, document.getElementById("team-banner"));

        $("#banner-file").change(function () { // Little hack to make pretty file upload input
            $("#banner-file-name").val($(this).val());
        });
        
        $("#team-banner").hover( // Show edit button when banner is hovered
            function () { $("#team-banner .hover-edit").show(); },
            function () { $("#team-banner .hover-edit").hide(); });
    });
</script>