<div id="team-settings" class="container" ng-controller="SettingsController">
    
    <div class="row">
        <div class="span12">
            <h4>General</h4>
            <ul>
                <li>
                    <label>Name</label>
                    <input type="text" ng-model="newName" complete-update />
                </li>
            </ul>
        </div>
    </div>
              
    <div class="row">
        <div class="span6">
            <h4>Privacy</h4>
            <ul>
                <li>
                    <label title="Set to private to hide your team site from the public">Home page</label>
                    <radio-button model="privacy.HomePage" true-text="Public" false-text="Private" />
                </li>
                <li>
                    <label title="Set to private to hide your roster from the public">Roster tab</label>
                    <radio-button model="privacy.Roster" true-text="Public" false-text="Private" />
                </li>
            </ul>
        </div>    
        <div class="span6">
            <h4>Columns</h4>
            <ul>
                <li>
                    <label title="Type of result columns displayed on schedule">Event results</label>
                    <select ng-model="settings.ResultsView" ng-options="option.value as option.name for option in resultsViewOptions"></select>
                </li>
                <li>
                    <label title="The internal location where an event takes place, e.g. rink, field, court">Arena</label>
                    <radio-button model="settings.ArenaColumn" true-text="Show" false-text="Hide" />
                </li>
                <li>
                    <label title="Last name column on roster">Last name</label>
                    <radio-button model="settings.LastNameColumn" true-text="Show" false-text="Hide" />
                </li>
                <li>
                    <label title="Position column on roster">Position</label>
                    <radio-button model="settings.PositionColumn" true-text="Show" false-text="Hide" />
                </li>
                <li>
                    <label title="Phone column on roster">Phone</label>
                    <radio-button model="settings.PhoneColumn" true-text="Show" false-text="Hide" />
                </li>
                <li>
                    <label title="Email column on roster">Email</label>
                    <radio-button model="settings.EmailColumn" true-text="Show" false-text="Hide" />
                </li>
            </ul>
        </div>    
    </div>  
              
    <div class="row">
        <div class="span12">
            <button class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target="#team-delete-modal">
                Delete this team
            </button>
        </div>  
    </div>

    <form id="team-delete-modal" class="modal hide fade" ng-submit="deleteTeam()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
            <p>
                Deleting this team will permanently remove all its associated schedule and roster data. This cannot be undone.
            </p>
            <p>
                If you wish to hide the team tempoararily you can 
                <a data-dismiss="modal" data-toggle="modal" data-target="#team-settings-modal" ng-click="privacy.HomePage = false">set its home page to private</a> instead.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="submit" class="btn btn-warning" spinner="updating">Yes, please delete</button>
        </div>
    </form>
</div>