html {
    overflow-x: hidden;
}
body {
    padding-top: 60px;
}
body a {
    cursor: pointer;
}
.ui-tooltip {
    font-size: 10pt;
    border-radius: 3px;
    background: #333;
    color: #eee;
    box-shadow: none;
}
#sidebar a, #main a {
    text-decoration: none;
}
i {
    display: inline-block;
}

.showcase, .nonshowcase {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 14pt;
}
.showcase.row-fluid > div,
.nonshowcase.row-fluid > div {
    padding: 0 20px;
}
.showcase p, .nonshowcase p {
    line-height: 1.5em;
}
.showcase {
    border: solid #d5d5d5 1px;
    border-radius: 6px;
    background: #e9e9e9;
}
.showcase h1, .nonshowcase h3 {
    font-family: 'Fjalla One';
    font-size: 32pt;
}
.showcase .alert-error {
    font-size: 10pt;
}
#features-carousel .carousel-image {
    text-align: center;
}
#features-carousel .carousel-image img {
    margin-bottom: 100px;
}

.hover-edit {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px 6px 4px 4px;
    border: solid #444 1px;
    border-radius: 3px;
    background: #fff;
    font-size: 9pt;
    cursor: pointer;
}

.tab-content {
    overflow: initial !important;
}
.help-block {
    font-style: italic;
}

#features a {
    cursor: pointer;
}
#features td {
    margin-bottom: 10px;
}
#features table .heading {
    display: inline-block;
    width: 128px;
    font-size: 16pt;
}
#features table .spacer {
    width: 100%;
    background: url('/img/spacer.gif');
    background-repeat: repeat-x;
    background-position: center;
}
#features table .available {
    display: inline-block;
    width: 40px;
    color: #277415;
    text-align: right;
}
#features .row {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: dotted #aaa 1px;
}
#newteam-modal form {
    margin-bottom: 0;
}

#message-modal .alert {
    margin: 0;
}
#message-modal.fade.in {
    top: 4%;
}

#email-modal .event {
    margin-bottom: 20px;
}
#email-modal .event label {
    display: inline-block;
    width: 80px;
}
#email-modal .heading,
#team-message-modal .heading {
    border-bottom: solid #999 1px;
}
#email-modal label.disabled {
    color: #ccc;
}
.player-group ul {
    overflow: hidden;
}
.player-group ul > label {
    float: left;
    width: 45%;
}

#front-header button {
    margin-left: 10px;
}
#registration input {
    display: block;
}
#register-modal .icon-spin, #newteam-modal .icon-spin, #team-delete-modal .icon-spin, 
#login .icon-spin, #games .icon-spin, #roster .icon-spin, #reset .icon-spin, #reset-modal .icon-spin {
    display: none;
}

#footer {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid #eee 1px;   
}

#team-data a.disabled {
    cursor: default;
    color: #aaa;
}
#team-data a.disabled:hover {
    background: #fff;
    border: none;
}

#team-settings ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid #999;
    border-width: 1px 0;
    margin-bottom: 30px;
}

#team-settings li label {
    display: inline-block;
    width: 135px;
    margin: 0;
    padding: 6px 0;
}
#team-settings li input[type=text] {
    margin-bottom: 2px;
}

#team-settings li {
    border-bottom: solid #aaa 1px;
}

#team-settings li:last-child {
    border-bottom: none;
}
#team-settings fieldset {
    margin: 10px 0 20px 0;
    padding: 10px 0;
    border: solid #999 1px;   
}
#team-settings fieldset > div {
    margin-left: 20px;
}

.insert-form {
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
    border: solid #999 1px;
}
.insert-form > div {
    float: left;
    margin-right: 15px;
}
.insert-form .btn {
    float: left;
    margin-top: 25px;
    margin-right: 10px;
}
.insert-form .control-group {
    float: left;
    margin-right: 10px;
}
.insert-form .control-row {
    clear: both;
}
.table-container {
    border: solid #666 2px;
    border-radius: 2px;
}
.table-container a,
.table-container td.icon {
    cursor: pointer;
}
.table-container .table-controls {
    position: relative;
    padding: 10px;
    background-color: #e9e9e9;
    background-repeat: repeat-x;
}
.table-container .table-controls .dropdown-menu li label {
    padding: 3px 20px;
    margin:0;
    cursor: auto;
}
.table-container .table-controls .dropdown-menu li label.heading {
    color: #999;
}
.table-container .table-controls .column-select,
.table-container .table-controls .season-select,
.table-container .table-controls .group-select {
    position: relative;
}
.table-container .table-controls .column-select .active {
    background: #d9fcd1;
}
.table-container .table-controls .column-select .active:hover {
    color: #000;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container td.fullheading {
    position: relative;
    text-align: center;
}
.table-container td.fullheading,
.table-container td.fullheading input {
    font-weight: bold;
}
.table-container td.fullheading .options {
    position: absolute;
    top: 5px;
    right: 10px;
}
.table-container td.fullheading i {
    cursor: pointer;
}
.table-container td.fullinfo {
    padding: 20px 0;
    text-align: center;
}
.table-container table th {
    padding: 6px 0;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.table-container table td, .table-container table th {
    border: solid #999 1px;
    text-align: center;
}
.table-container table td {
    text-align: left;
}

.table-container tr:last-child td { border-bottom-width: 0; }
.table-container th:first-child, .table-container  td:first-child { border-left-width: 0; }
.table-container th:last-child, .table-container td:last-child { border-right-width: 0; }

.table-container table .mod {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 5px;
    
    text-align: inherit;
    border: none;
    border-radius: 0;
    background: inherit;
}
.table-container table th.button,
.table-container table td.button input {
    width: 27px;
}
.table-container table th.digit,
.table-container table td.digit input {
    width: 32px;
}
.table-container table th.icon,
.table-container table td.icon span {
    width: 40px;
}
.table-container table th.date,
.table-container table td.date input {
    width: 170px;
}
.table-container table th.phone,
.table-container table td.phone input {
    width: 130px;
}
.table-container table th.name,
.table-container table td.name input {
    width: 230px;
}
.table-container table th.lastname,
.table-container table td.lastname input {
    width: 180px;
}
.table-container table th.position,
.table-container table td.position input {
    width: 135px;
}
.table-container table th.fullname,
.table-container table td.fullname input {
    width: 180px;
}
.table-container table th.email,
.table-container table td.email input {
    width: 230px;
}
.table-container table th.location,
.table-container table td.location input {
    width: 180px;
}
.table-container table td.location input {
    background: #fff;
}
.table-container table th.sublocation,
.table-container table td.sublocation input {
    width: 70px;
}
#messages .table-container table td.max input {
    cursor: pointer;
}
.table-container table td.button,
.table-container table td.digit,
.table-container table td.icon {
    text-align: center;
}

.table-container table input {
    padding: 5px;
}
.table-container table td.location > input[readonly='readonly'] {
    cursor: pointer;
}
.table-container table input:disabled,
.table-container table input[readonly='readonly'] {
    color: #666;
    background: #fff;
    cursor: default;
}
.table-container table td.max input.mod {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.table-container table input.mod:focus {
    background: #fff;
}
.table-container table td.hometeam-points,
.table-container table td.hometeam-points input,
.table-container table td.hometeam-points input:disabled,
.table-container table td.hometeam-points input[readonly='readonly'] {
    background: #d9fcd1;
}
.table-container table td.awayteam-points,
.table-container table td.awayteam-points input,
.table-container table td.awayteam-points input:disabled,
.table-container table td.awayteam-points input[readonly='readonly'] {
    background: #f9e4e3;
}
.table-container td .subtext {
    padding: 0 5px;
    font-size: 8pt;
}
.table-container table td > .dropdown-menu {
    top: auto;
    left: auto;
    text-align: left;
}

.table-container th.angled {
    /*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    position: relative;
    height: 64px;
    padding: 0;
    border-width: 1px 0;
}
.table-container th.angled > span > span {
    position: absolute;
    white-space: nowrap;
    -moz-transform: rotate(45deg) translate(-118px, 65px);
    -webkit-transform: rotate(45deg) translate(-104px, 53px);
    -o-transform: rotate(45deg) translate(-104px, 53px);
    -ms-transform: rotate(45deg) translate(-118px, 67px);
    border: 0;
    padding: 8px;
    height: inherit;
    width: 123px;
    font-size: 10pt;
    font-weight: normal;
    line-height: 0.5em;
    letter-spacing: 1px;
}
.table-container th.angled > span > span {
    cursor: pointer;
}
.table-container th.angled > span > span.past {
    cursor: default;
}
.table-container th.angled > span > span:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom:0;
    left: -10px;
    right: -16px;
    border: solid #999;
    border-width: 0 0 1px 1px;
    background:#fff;
    z-index:-1;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
}
.table-container th.angled:last-child > span > span:after {
    border-top-width: 1px;
}
.table-container th.angled button {
    position: absolute;
    bottom: 0;
    right: -16px;
}

.swatch {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid gray 1px;
}
.going {
    background: #d9fcd1;
}
.notgoing {
    background: #f9e4e3;
}
.maybe {
    background: lightyellow;
}
.table-container th.angled > span > span.past:after {
    background: #eee;
}

/* Mobile table 
    http://css-tricks.com/responsive-data-tables/
*/
@media (max-width: 767px) { /* phone width */

    .table-container.stacks table,
    .table-container.stacks thead, 
    .table-container.stacks tbody,
    .table-container.stacks th,
    .table-container.stacks td,
    .table-container.stacks tr {
        display: block;
    }
    
    .table-container.stacks thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-container.stacks tr {
	     border: 1px solid #ccc;
	}

	.table-container.stacks td { /* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 105px; 
	}
    .table-container.stacks td > input {
        width: 85% !important;
        margin-left: 10px;
    }

    .table-container.stacks table td.digit {
        text-align: left;
    }

    .table-container.stacks td.fullheading {
        padding-left: 0;
    }
	
	.table-container.stacks td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 105px; 
		white-space: nowrap;
	}

    #games td:nth-of-type(1) { padding-left: 0; }
    #games td:nth-of-type(2):before { content: "Date"; border-right: dotted #ccc 1px; }
    #games td:nth-of-type(3):before { content: "Scored"; border-right: dotted #ccc 1px; }
    #games td:nth-of-type(4):before { content: "Allowed"; border-right: dotted #ccc 1px; }
    #games td:nth-of-type(5):before { content: "Opponent"; border-right: dotted #ccc 1px; }
    #games td:nth-of-type(6):before { content: "Location"; border-right: dotted #ccc 1px; }
    #games td:nth-of-type(7):before { content: "Arena"; border-right: dotted #ccc 1px; }

    #roster td:nth-of-type(1) { padding-left: 0; }
    #roster td:nth-of-type(2):before { content: "Last name"; border-right: dotted #ccc 1px; }
    #roster td:nth-of-type(3):before { content: "First name"; border-right: dotted #ccc 1px; }
    #roster td:nth-of-type(4):before { content: "Position"; border-right: dotted #ccc 1px; }
    #roster td:nth-of-type(5):before { content: "Phone"; border-right: dotted #ccc 1px; }
    #roster td:nth-of-type(6):before { content: "Email"; border-right: dotted #ccc 1px; }

    #messages td:nth-of-type(1) { padding-left: 0; }
    #messages td:nth-of-type(2):before { content: "Date"; border-right: dotted #ccc 1px; }
    #messages td:nth-of-type(3):before { content: "Subject"; border-right: dotted #ccc 1px; }
}

#team-banner {
    position: relative;
    height: 200px;
    margin-bottom: 50px;
    border: solid #000 1px;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #000;
    background-size: auto 100%;
}

#team-banner h1 {
    position: absolute;
    bottom: -25px;
    margin-left: 25px;
    color: white;
    line-height: 1em;
    font-size: 42pt;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    filter: Shadow(Color=black, Direction=130, Strength=3); /* IE Proprietary Filter*/
}

.section {
    margin-bottom: 25px;
}
.section h2 {
    border-bottom: solid #ddd 1px;
    color: #444;
    font-family: 'Fjalla One', sans-serif;
}

#sent-message-modal h4 {
    margin-top: 28px;
    border-bottom: solid #ddd 1px;
}
#team-announcement textarea,
#team-message-modal textarea,
#sent-message-modal textarea {
    width: 100%;
    overflow: hidden;
    resize: vertical;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#team-announcement textarea[readonly='readonly'],
#sent-message-modal textarea[readonly='readonly'] {
    border: 0;
    background: #fff;
    cursor: default;
}
#team-announcement .options {
    display: none;
}

#team-data .nav-tabs a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 16pt;
}
#team-data .nav-tabs .active a {
    color: #444;
}

.editor {
    z-index: 1000;
    display: none;
    position:absolute;
    padding: 15px;
    border: solid #aaa 1px;
    border-radius: 4px;
    background: #fff;
}
.editor input[readonly='readonly'] {
    background: #fff;
}

/* Team List */
#team-heroes {
    border: solid #aaa 1px;
    border-radius: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#team-heroes li {
    border-bottom: solid #aaa 1px;
}

#team-heroes li:last-child {
    border-bottom: none;
}
#team-heroes .team .team-image {
    display: inline-block;
    width: 100px;
    height: 75px;
    border-right: solid #aaa 1px;
}
#team-heroes .team .team-name {
    display: inline-block;
    width: 100%;
}
#team-heroes a {
    display: block;
    padding: 15px 15px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 32pt;
    line-height: 1.25em;
    text-decoration: none;
}
#team-heroes .team .team-record {
    display: inline-block;
}
#team-heroes li.create a {
    font-size: 24pt;
    text-align: right;
    cursor: pointer;
}

#reset input[readonly='readonly'] {
    cursor: text;
}

#availability .table-controls .popover {
    font-size: 9pt;
    white-space: inherit;
}
#availability .table-controls .popover h5 {
    font-size: 10pt;
}
#availability-prev, #availability-next {
    position: absolute;
    top: 54px;
    text-decoration: none;
    z-index: 1000;
}
#availability-prev {
    right: 457px;
}
#availability-next { 
    right: 0;
}
#ab-data {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    border: solid #aaa 1px;
}
#ab-data li {
    overflow: hidden;
    margin-bottom: 8px;
}
#ab-data label {
    position: absolute;
    display: block;
}
#ab-data span {
    float: left;
    padding-left: 95px;
}

.horizontal label {
    position: absolute;
}
.horizontal span {
    display: inline-block;
    padding-left: 75px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* mobile styling */
@media (max-width: 767px) {
    .showcase {
        border: none;
        background: none;
    }    
    .showcase.row-fluid > div,
    .nonshowcase.row-fluid > div {
        padding: 0;
    }
    #features-carousel .carousel-image img {
        margin-bottom: 0;
    }
    #team-banner {
        margin-bottom: 30px;
        border-left-width: 0;
        border-right-width: 0;
    }
    #team-banner h1 {
        left: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
        font-size: 36pt;
    }
    #team-functions {
        float: none;
    }
    .nophonepad .table-container {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }
}