<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="icon-reorder"></i>
        </a>
    </div>
</header>

<div id="availability">
    <div class="table-controls">
        <button class="prev btn btn-link" ng-disabled="eventsIndex <= 0" ng-click="eventsIndex = eventsIndex - eventsShown">
            <i class="icon-chevron-left" ng-show="showPrevious()"></i>
        </button>
        <button class="next btn btn-link" ng-disabled="allEvents().length - eventsIndex <= eventsShown" ng-click="eventsIndex = eventsIndex + eventsShown">
            <i class="icon-chevron-right" ng-show="showNext()"></i>
        </button>
    </div>
    <div class="buffered text-center" ng-if="events().length == 0">
        Team has not posted any events and/or does not have any members on its roster
    </div>
    <table class="table table-bordered table-striped" availability-autosize events-shown="eventsShown" ng-if="events().length > 0">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="column-position" ng-show="showPosition">&nbsp;</th>
                <th ng-if="events().length == 0">&nbsp;</th>
                <th ng-if="events().length == 0">&nbsp;</th>

                <th class="angled column-icon" ng-repeat="event in events() | orderBy:eventPredicate">    
                    <span ng-switch on="isPast(event)">
                        <a href="#/compose?event={{event.Id}}" ng-switch-when="false">
                            <span>{{event | eventDate}}</span>
                            <button class="btn btn-link">
                                <i class="icon-envelope" title="Email availability request"></i>
                            </button>
                        </a>
                        <a class="past" ng-switch-when="true">{{event | eventDate}}</a>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody ng-if="groups.length == 0">
            <tr>
                <td class="text-center" colspan="50">
                    No members have been added to this team
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat="group in groups | orderBy:'Order'">
            <tr>
                <td class="heading" colspan="50">{{group.Name}}</td>
            </tr>
            <tr ng-repeat="player in group.Players | orderBy:'LastName'">
                <td>{{player | playerName}}</td>
                <td ng-show="showPosition">{{player.Position}}</td>
                <td class="column-icon" ng-repeat="event in events()" ng-class="availabilityCss(player, game)" ng-click="rotateAvailability(player, event)">
                    <span>
                        <i ng-class="availabilityIcon(player, event)"></i>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>