<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <a ng-click="toggleSidebar()">
                        <i class="fa fa-reorder"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="availability">
    <div class="table-controls">
        <button class="prev btn btn-default btn-sm" ng-disabled="eventsIndex <= 0" ng-show="showPrevious()" ng-click="eventsIndex = eventsIndex - eventsShown">
            <i class="fa fa-chevron-left"></i>
        </button>
        <button class="next btn btn-default btn-sm" ng-disabled="allEvents.length - eventsIndex <= eventsShown" ng-show="showNext()" ng-click="eventsIndex = eventsIndex + eventsShown">
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
    <div class="buffered text-center" ng-if="eventsPage.length == 0">
        Team has not posted any events and/or does not have any members on its roster
    </div>
    <table class="table table-bordered table-striped" availability-autosize events-shown="eventsShown" events-count="allEvents.length">
        <thead>
            <tr>
                <th class="column-name">&nbsp;</th>
                <th class="column-position" ng-show="showPosition">&nbsp;</th>
                <th ng-if="eventsPage.length == 0">&nbsp;</th>
                <th ng-if="eventsPage.length == 0">&nbsp;</th>

                <th class="angled column-icon" ng-repeat="event in eventsPage | orderBy:eventPredicate">    
                    <span ng-switch on="event | isPast">
                        <a href="#/compose?event={{event.Id}}" ng-switch-when="false">
                            <span>{{event | eventDate}}</span>
                            <button class="btn btn-link">
                                <i class="fa fa-envelope-o" title="Email availability request"></i>
                            </button>
                        </a>
                        <a class="past" ng-switch-when="true">{{event | eventDate}}</a>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody ng-if="groups.length == 0">
            <tr>
                <td class="text-center" colspan="50">
                    No members have been added to this team
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat="group in groups | orderBy:'Order'">
            <tr>
                <td class="heading" colspan="50">{{group.Name}}</td>
            </tr>
            <tr ng-repeat="player in group.Players | orderBy:'LastName'">
                <td>{{player | playerName}}</td>
                <td class="column-position" ng-show="showPosition">{{player.Position}}</td>
                <td class="column-icon" ng-repeat="event in eventsPage" ng-class="availabilityCss(player, game)" ng-click="rotateAvailability(player, event)">
                    <span>
                        <i ng-class="availabilityIcon(player, event)"></i>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>