<div class="container">
    <div class="row">

        <div class="span12">
            
            <a class="btn btn-link" href="#/messages">
                <i class="icon-arrow-left"></i> Return to messages
            </a>

            <h3 class="heading">{{message.Subject}}</h3>

            <div class="horizontal">
                <label>Sent</label>
                <span>{{message.DateTime}}</span>
            </div>

            <div class="horizontal">
                <label>To</label>
                <span>{{message.To}}</span>
            </div>

            <div class="textarea" ng-bind-html-unsafe="message.Content"></div>
        </div>
        
    </div>
</div>