<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="icon-reorder"></i>
        </a>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="#/compose">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <div class="row table-controls hidden-xs">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a class="btn btn-primary" href="#/compose">
                    <i class="icon-pencil"></i> New message
                </a>
            </div>
        </div>
    </div>
    
    <div class="row" ng-show="sentMessage">
        <div class="alert alert-success">{{sentMessage}}</div>
    </div>

    <ol class="buffered messages list-unstyled">
        <div class="text-center" ng-if="messages.length == 0">
            No messages have been recorded
        </div>
        <li ng-class="{selected: message.Selected}" ng-click="message.Selected = true" ng-repeat="message in messages | orderBy:datePredicate:true">
            <h3>{{message.Subject}}</h3>
            <div class="message-date">
                {{message.DateTime}}
            </div>
            <div class="message-to">
                To: <span>{{message.To}}</span>
            </div>
            <div ng-bind-html="message.Content">

            </div>
        </li>
    </ol>
</div>