<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <a href="#/messages">
                        <i class="fa fa-chevron-circle-left"></i> Messages
                    </a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-success" ng-click="sendMessage()">
                        Send
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="table-controls row hidden-xs">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button type="submit" class="btn btn-success" ng-click="sendMessage()">
                    <i class="fa fa-envelope"></i> Send message
                </button>
            </div>
        </div>
    </div>

    <div class="buffered row">
        <div class="col-md-12">

            <div class="alert alert-danger" ng-show="error">
                {{error}}
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">To</span>
                    <div type="text" class="form-control" ng-click="recipientsDropdown = true">{{recipients()}}</div>
                </div>
                <div class="dropdown-recipients" ng-show="recipientsDropdown">
                    <ul class="list-unstyled player-groups" ng-repeat="group in groups | orderBy:'Order'">
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" ng-click="toggleGroup(group)" /> 
                                <h5>{{group.Name}}</h5>
                            </label>
                            <ul class="list-unstyled">
                                <li class="col-xs-12 col-sm-6 col-md-3" ng-repeat="member in group.Players" ng-switch="member.Email.length > 0">
                                    <label class="checkbox" ng-switch-when="true">
                                        <input type="checkbox" ng-model="member.Selected"/> 
                                        <span>{{member | playerName}}</span>
                                        <small>{{member.Email}}</small>
                                    </label>   
                                    <label ng-switch-when="false">
                                        <i class="fa fa-ban-circle"></i>
                                        <span>{{member | playerName}}</span>
                                        <small>No email specified</small>
                                    </label>   
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="text-right">
                        <button class="btn" ng-click="recipientsDropdown = false">Close</button>
                    </div>
                </div>

                <input type="text" class="form-control" ng-model="message.subject" placeholder="Message subject" />
                <textarea rows="8" autosize class="form-control" ng-model="message.content" placeholder="Message content"></textarea>
            </div>
        </div>
    </div>     
    
    <div class="row">
        <div class="col-md-12">
            <p>
                <label>
                    <input type="checkbox" ng-model="requestAvailability" /> Request availability for
                </label>
                <select class="form-control" ng-model="selectedEvent" ng-options="event as (event | eventLongDate) for event in availabilityEvents"></select>
            </p>
            <div ng-show="requestAvailability">
                <p>
                    Team availability will be requested for
                </p>
                <ul>
                    <li><strong>{{selectedEvent | eventTitle}}</strong></li>
                    <li>{{selectedEvent | eventDate}} {{selectedEvent | eventLocation:'@'}}</li>
                </ul>
            </div>

            
        </div>
    </div>
      
</div>