<form id="newteam-modal" class="modal" ng-submit="createTeam()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header hidden-xs">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">New team</h3>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-horizontal">
                    <button type="button" class="btn" tabindex="1" ng-class="{active: teamType == 'sports'}" ng-click="teamType = 'sports'">
                        <h4>Sports</h4>
                        <div class="background" style="background-image: url('/img/teamtype-sports.png')"></div>
                        <ul class="hidden-xs">
                            <li>First and last name</li>
                            <li>Team positions</li>
                            <li>Phone and email enabled</li>
                            <li>Points scored results</li>
                        </ul>
                    </button>
                    <button type="button" class="btn" tabindex="1" ng-class="{active: teamType == 'online'}" ng-click="teamType = 'online'">
                        <h4>Online</h4>
                        <div class="background" style="background-image: url('/img/teamtype-online.gif')"></div>
                        <ul class="hidden-xs">
                            <li>Single name</li>
                            <li>No positions</li>
                            <li>Email only</li>
                            <li>Tournament results</li>
                        </ul>
                    </button>
                    <button type="button" class="btn" tabindex="1" ng-class="{active: teamType == 'club'}" ng-click="teamType = 'club'">
                        <h4>Club</h4>
                        <div class="background" style="background-image: url('/img/teamtype-club.png')"></div>
                        <ul class="hidden-xs">
                            <li>First and last name</li>
                            <li>No positions</li>
                            <li>Phone and email enabled</li>
                            <li>No event results</li>
                        </ul>
                    </button>
                </div>
        
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-star"></i></span>
                        <input type="text" class="form-control" placeholder="Team name" ng-model="teamName" tabindex="1">
                    </div>
                </div>
        
                <div class="pull-right hidden-xs">
                    * Options can be changed later
                </div>
        
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="teamPublic" tabindex="1"> Make team home page public
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="teamPopulate" tabindex="1"> Populate team with sample schedule and roster
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true" tabindex="2">Cancel</button>
                <button type="submit" class="btn btn-primary" tabindex="1">
                    <i class="icon-spinner icon-spin"></i> Create
                </button>
            </div>
        </div>
    </div>
</form>