<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="icon-reorder"></i>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="label-item">Add member to...</li>
                    <li ng-repeat="group in groups">
                        <a ng-click="addTo(group)">{{group.Name}}</a>
                    </li>
                    <li><a ng-click="addTo(null)">New group</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="row table-controls hidden-xs">
        <div class="col-md-6">
            <div ng-show="selectedItems().length > 0">
                <button class="btn btn-default" ng-click="removeItems()" title="Remove">
                    <i class="icon-trash"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Move">
                        <i class="icon-folder-open"></i> <i class="icon-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="label-item">Move to...</li>
                        <li role="presentation" class="divider"></li>
                        <li ng-repeat="group in groups"><a ng-click="moveItems(group)">{{group.Name}}</a></li>
                        <li><a ng-click="moveItems(null)">New group</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right">
                <button class="btn btn-primary" data-toggle="dropdown">
                    <i class="icon-pencil"></i> Add Member
                </button>
                <ul class="dropdown-menu">
                    <li class="label-item">Add to...</li>
                    <li role="presentation" class="divider"></li>
                    <li ng-repeat="group in groups">
                        <a ng-click="addTo(group)">{{group.Name}}</a>
                    </li>
                    <li><a ng-click="addTo(null)">New group</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped col-md-12">
            <thead>
                <tr>
                    <th class="column-icon hidden-xs"></th>
                    <th class="column-name">
                        <a ng-click="sortBy('Name')">Name</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Name'"></i>
                    </th>
                    <th class="column-position hidden-xs">
                        <a ng-click="sortBy('Position')">Position</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Position'"></i>
                    </th>
                    <th class="column-contact">
                        <a ng-click="sortBy('Contact')">Contact</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Contact'"></i>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="group in groups | orderBy:'Order'">
                <tr>
                    <td colspan="4" class="heading">
                        <input type="text" ng-model="group.Name" />
                        <div class="pull-right">
                            <a title="Move group up" ng-show="group.Order != 0" ng-click="changeCollectionOrder(group, group.Order - 1)">
                                <i class="icon-circle-arrow-up"></i>
                            </a>
                            <a title="Move group down" ng-show="group.Order != group.length-1" ng-click="changeCollectionOrder(group, group.Order + 1)">
                                <i class="icon-circle-arrow-down"></i>
                            </a>
                            <a title="Remove group" ng-click="removeCollection(group)">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-class="{selected: player.Selected}" ng-click="editItem(player)" ng-repeat="player in group.Players">
                    <td class="column-icon dropdown hidden-xs">
                        <input type="checkbox" ng-model="player.Selected" />
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player | playerName}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>First name</label>
                                <input type="text" class="form-control" ng-model="player.FirstName"/>
                            </li>
                            <li class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" ng-model="player.LastName"/>
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown hidden-xs" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player.Position}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Position</label>
                                <input type="text" class="form-control" ng-model="player.Position" placeholder="None"/>
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player | playerContact}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" ng-model="player.Phone"/>
                            </li>
                            <li class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="player.Email"/>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>