<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="navbar-left">
            <a class="btn btn-info" href="#/roster">
                <i class="icon-chevron-sign-left"></i> Roster
            </a>
        </div>
        <div class="nav navbar-nav navbar-right" ng-if="editable">
            <a class="navbar-brand" ng-click="removeMember(member)">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <form>
        <fieldset>
            <legend>General</legend>
            <div class="form-group col-xs-12 col-md-6">
                <label>{{settings.LastNameColumn ? 'First name' : 'Name'}}</label>
                <input type="text" class="form-control" ng-model="member.FirstName" ng-disabled="!editable" complete-update />
            </div>
            <div class="form-group col-xs-12 col-md-6" ng-if="settings.LastNameColumn">
                <label>Last name</label>
                <input type="text" class="form-control" ng-model="member.LastName" ng-disabled="!editable" complete-update />
            </div>
            <div class="form-group col-xs-12 col-md-12" ng-if="settings.PositionColumn">
                <label>Position</label>
                <input type="text" class="form-control" ng-model="member.Position" ng-disabled="!editable" complete-update />
            </div>
        </fieldset>
        
        <fieldset ng-if="settings.EmailColumn || settings.PhoneColumn">
            <legend>Contact</legend>
            <div class="form-group col-xs-12 col-md-6" ng-if="settings.EmailColumn">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="member.Email" ng-disabled="!editable" complete-update />
            </div>
            <div class="form-group col-xs-12 col-md-6" ng-if="settings.PhoneColumn">
                <label>Phone</label>
                <input type="text" class="form-control" ng-model="member.Phone" ng-disabled="!editable" complete-update />
            </div>
        </fieldset>
    </form>
</div>