<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="icon-reorder"></i>
        </a>
        <ul class="nav navbar-nav navbar-right" ng-if="editable">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="label-item">Add member to...</li>
                    <li ng-repeat="group in groups">
                        <a ng-click="addTo(group)">{{group.Name}}</a>
                    </li>
                    <li><a ng-click="addTo(null)">New group</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="row table-controls hidden-xs" ng-if="editable">
        <div class="col-md-6">
            <div ng-show="selectedItems().length > 0">
                <button class="btn btn-default" ng-click="removeItems()" title="Remove">
                    <i class="icon-trash"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Move">
                        <i class="icon-folder-open"></i> <i class="icon-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="label-item">Move to...</li>
                        <li role="presentation" class="divider"></li>
                        <li ng-repeat="group in groups"><a ng-click="moveItems(group)">{{group.Name}}</a></li>
                        <li><a ng-click="moveItems(null)">New group</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right">
                <button class="btn btn-primary" data-toggle="dropdown">
                    <i class="icon-pencil"></i> Add Member
                </button>
                <ul class="dropdown-menu">
                    <li class="label-item">Add to...</li>
                    <li role="presentation" class="divider"></li>
                    <li ng-repeat="group in groups">
                        <a ng-click="addTo(group)">{{group.Name}}</a>
                    </li>
                    <li><a ng-click="addTo(null)">New group</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped col-md-12">
            <thead>
                <tr>
                    <th class="column-icon hidden-xs" ng-if="editable"></th>
                    <th class="column-name">
                        <a ng-click="sortBy('Name')">Name</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Name'"></i>
                    </th>
                    <th class="column-position hidden-xs" ng-if="settings.PositionColumn">
                        <a ng-click="sortBy('Position')">Position</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Position'"></i>
                    </th>
                    <th class="column-contact" ng-if="settings.EmailColumn || settings.PhoneColumn">
                        <a ng-click="sortBy('Contact')">Contact</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Contact'"></i>
                    </th>
                </tr>
            </thead>
            <tbody ng-if="groups.length == 0">
                <tr>
                    <td colspan="6" class="text-center">
                        No groups have been created for this team
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="group in groups | orderBy:'Order'">
                <tr>
                    <td colspan="4" class="heading">
                        <input type="text" ng-model="group.Name" />
                        <div class="pull-right" ng-if="editable">
                            <a title="Move group up" ng-show="group.Order != 0" ng-click="changeCollectionOrder(group, group.Order - 1)">
                                <i class="icon-circle-arrow-up"></i>
                            </a>
                            <a title="Move group down" ng-show="group.Order != groups.length-1" ng-click="changeCollectionOrder(group, group.Order + 1)">
                                <i class="icon-circle-arrow-down"></i>
                            </a>
                            <a title="Remove group" data-target="#group-delete-modal" open-modal-and="$parent.$parent.$parent.selectedGroup = $parent.$parent.group">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-if="group.Players.length == 0">
                    <td colspan="4" class="text-center">
                        No members have been added to this group
                    </td>
                </tr>
                <tr ng-class="{selected: player.Selected}" ng-click="editItem(player)" ng-repeat="player in group.Players">
                    <td class="column-icon dropdown hidden-xs" ng-if="editable">
                        <input type="checkbox" ng-model="player.Selected" />
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player | playerName:settings.LastNameColumn}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-if="editable">
                            <li class="form-group">
                                <label>{{settings.LastNameColumn ? 'First name' : 'Name'}}</label>
                                <input type="text" class="form-control" ng-model="player.FirstName" ng-disabled="!editable" complete-update />
                            </li>
                            <li class="form-group" ng-if="settings.LastNameColumn">
                                <label>Last name</label>
                                <input type="text" class="form-control" ng-model="player.LastName" ng-disabled="!editable" complete-update />
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown hidden-xs" ng-if="settings.PositionColumn" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player.Position}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-if="editable">
                            <li class="form-group">
                                <label>Position</label>
                                <input type="text" class="form-control" placeholder="None" ng-model="player.Position" ng-disabled="!editable" complete-update />
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" ng-if="settings.EmailColumn || settings.PhoneColumn" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{player | playerContact}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group" ng-if="settings.EmailColumn">
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="player.Email" ng-disabled="!editable" complete-update />
                            </li>
                            <li class="form-group" ng-if="settings.PhoneColumn">
                                <label>Phone</label>
                                <input type="text" class="form-control" ng-model="player.Phone" ng-disabled="!editable" complete-update />
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>

<form id="group-delete-modal" class="modal fade" ng-submit="removeCollection(selectedGroup)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Remove group</h3>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Warning!</strong> 
                </p>
                <p>
                    Removing <em>{{selectedGroup.Name}}</em> will also remove the players it contains.
                </p>
                <p>
                    This cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" tabindex="2">Cancel</button>
                <button type="submit" class="btn btn-warning" tabindex="1">Remove</button>
            </div>
        </div>
    </div>
</form>