<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="fa fa-reorder"></i>
        </a>
        <ul class="nav navbar-nav navbar-right" ng-if="editable">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="label-item">Add event to...</li>
                    <li ng-repeat="season in seasons"><a ng-click="addTo(season)">{{season.Name}}</a></li>
                    <li><a ng-click="addTo(null)">New season</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="row table-controls hidden-xs" ng-if="editable">
        <div class="col-md-6">
            <div ng-show="selectedItems().length > 0">
                <button class="btn btn-default" ng-click="removeItems()" title="Remove selected items">
                    <i class="fa fa-trash-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Move">
                        <i class="fa fa-folder-open"></i> <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="label-item">Move to...</li>
                        <li role="presentation" class="divider"></li>
                        <li ng-repeat="season in seasons"><a ng-click="moveItems(season)">{{season.Name}}</a></li>
                        <li><a ng-click="moveItems(null)">New season</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right">
                <button class="btn btn-primary" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> Add Event
                </button>
                <ul class="dropdown-menu">
                    <li class="label-item">
                        Add to...
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li ng-repeat="season in seasons">
                        <a ng-click="addTo(season)">{{season.Name}}</a>
                    </li>
                    <li>
                        <a ng-click="addTo(null)">New season</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped col-md-12">
            <thead>
                <tr>
                    <th class="column-icon hidden-xs" ng-if="editable"></th>
                    <th class="column-date">
                        <a ng-click="sortBy('DateTime')">Date</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'DateTime'"></i>
                    </th>
                    <th class="column-results hidden-xs" ng-if="settings.ResultsView != 3">
                        <a ng-click="sortBy('Results')">Results</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Results'"></i>
                    </th>
                    <th>
                        <a ng-click="sortBy('OpponentName')">Title</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'OpponentName'"></i>
                    </th>
                    <th>
                        <a ng-click="sortBy('Location')">Location</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Location'"></i>
                    </th>
                    <th class="column-duties hidden-xs"></th>
                </tr>
            </thead>
            <tbody ng-if="seasons.length == 0">
                <tr>
                    <td colspan="6" class="text-center">
                        No seasons have been created for this team
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="season in seasons | orderBy:'Order'">
                <tr>
                    <td colspan="6" class="heading">
                        <input type="text" ng-model="season.Name" />
                        <div class="pull-right" ng-if="editable">
                            <a title="Move season up" ng-show="season.Order != 0" ng-click="changeCollectionOrder(season, season.Order - 1)">
                                <i class="fa fa-circle-arrow-up"></i>
                            </a>
                            <a title="Move season down" ng-show="season.Order != seasons.length-1" ng-click="changeCollectionOrder(season, season.Order + 1)">
                                <i class="fa fa-circle-arrow-down"></i>
                            </a>
                            <a title="Remove season" data-target="#season-delete-modal" open-modal-and="$parent.$parent.$parent.selectedSeason = $parent.$parent.season">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-if="season.Games.length == 0">
                    <td colspan="6" class="text-center">
                        No events have been posted to this season
                    </td>
                </tr>
                <tr ng-class="{selected: event.Selected}" ng-click="editItem(event)" ng-repeat-start="event in season.Games">
                    <td class="column-icon dropdown hidden-xs" ng-if="editable">
                        <input type="checkbox" ng-model="event.Selected" />
                    </td>
                    <td class="column-date dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventDate}}</a>
                        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-if="editable">
                            <div class="datepicker well pull-left" ng-model="event.DateTime">
                                <datepicker show-weeks="false" ></datepicker>
                            </div>
                            <div class="pull-right">
                                <clockpicker ng-model="event.DateTime"></clockpicker>
                            </div>
                        </div>
                    </td>
                    <td class="column-results dropdown hidden-xs" ng-if="settings.ResultsView != 3" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventResults:settings.ResultsView}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>{{settings.ResultsView | eventResultsScoreLabel}}</label>
                                <input type="number" class="form-control" ng-model="event.ScoredPoints" ng-disabled="!editable" placeholder="Points scored" min="-999" max="999" />
                            </li>
                            <li class="form-group">
                                <label>{{settings.ResultsView | eventResultsAllowedLabel}}</label>
                                <input type="number" class="form-control" ng-model="event.AllowedPoints" ng-disabled="!editable" placeholder="Points allowed" min="-999" max="999" />
                            </li>
                            <li class="form-group" ng-if="settings.ResultsView == 1">
                                <label>Ties</label>
                                <input type="number" class="form-control" ng-model="event.TiePoints" ng-disabled="!editable" placeholder="Tied" min="-999" max="999" />
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventTitle}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Untitled" ng-model="event.OpponentName" ng-disabled="!editable" complete-update />
                            </li>
                            <li class="form-group">
                                <label>Event type</label>
                                <select class="form-control" ng-model="event.Type" ng-options="type.value as type.name for type in eventTypes" ng-disabled="!editable"></select>
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventLocation:null:settings.ArenaColumn}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="Short description" ng-model="event.Location.Description" ng-disabled="!editable" complete-update />
                            </li>
                            <li class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Street address" ng-model="event.Location.Street" ng-disabled="!editable" complete-update />
                            </li>
                            <li class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City" ng-model="event.Location.City" ng-disabled="!editable" complete-update />
                            </li>
                            <!--<li class="form-group">
                                    <label>Postal</label>
                                    <input type="text" class="form-control" ng-model="event.Location.Postal"/>
                                </li>-->
                            <li class="form-group" ng-if="settings.ArenaColumn">
                                <label>Arena</label>
                                <input type="text" class="form-control" placeholder="Rink, field, room, etc." ng-model="event.Location.InternalLocation" ng-disabled="!editable" complete-update />
                            </li>
                        </ul>
                    </td>
                    <td class="column-duties hidden-xs text-right" ng-class="{active: event.ShowDuties}">
                        <button class="btn btn-default btn-xs" ng-class="{active: event.ShowDuties}" ng-click="toggleDuties(event)">
                            <i class="fa fa-caret-down"></i> {{event.Duties.length}} {{event.Duties.length == 1 ? 'duty' : 'duties'}} 
                        </button>
                    </td>
                </tr>
                <tr ng-if="event.ShowDuties" ng-repeat-end>
                    <td class="duties" colspan="6">
                        <header>
                            <h4>Event duties</h4>
                            <button class="btn btn-sm btn-default" ng-click="addEventDuty(event)" ng-if="editable">
                                <i class="fa fa-plus"></i> Add duty
                            </button>
                        </header>
                        <p ng-show="event.Duties.length == 0">
                            This event currently has no duties attached to it.
                        </p>
                        <ul>
                            <li class="dropdown" ng-repeat="duty in event.Duties" edit-dropdown>
                                <a data-toggle="dropdown" data-target="#" tabindex="1">
                                    {{memberName(duty.PlayerId) || 'Unassigned'}} &mdash;
                                    {{duty.Name || 'New duty'}}
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li class="form-group">
                                        <label>Assigned to</label>
                                        <select class="form-control" ng-model="duty.PlayerId" ng-options="member.Id as (member | playerName) for member in members">
                                        </select>
                                    </li>
                                    <li class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control" placeholder="Short description" ng-model="duty.Name" complete-update />
                                    </li>
                                    <li class="pull-right">
                                        <button class="btn btn-sm btn-warning" ng-click="removeEventDuty(duty)">
                                            Remove duty
                                        </button>
                                        <button class="btn btn-sm btn-success" ng-click="closeDuties()">
                                            Close
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>

<form id="season-delete-modal" class="modal fade" ng-submit="removeCollection(selectedSeason)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Remove season</h3>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Warning!</strong> 
                </p>
                <p>
                    Removing <em>{{selectedSeason.Name}}</em> will also remove the events it contains.
                </p>
                <p>
                    This cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" tabindex="2">Cancel</button>
                <button type="submit" class="btn btn-warning" tabindex="1">Remove</button>
            </div>
        </div>
    </div>
</form>