<div id="schedule" class="table-container stacks">
    <div class="table-controls">
        <div class="column-select pull-left">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    Columns <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="column in columns" ng-show="column.toggleable">
                        <a ng-class="{active: column.visible}" stop-event="click" ng-click="column.visible = !column.visible">
                            {{column.toggleName || column.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="season-select pull-right" ng-if="editable">
            <i class="icon-refresh icon-spin" ng-show="updating()"></i> 
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plus-sign-alt"></i> Event
            </button>
            <ul class="dropdown-menu">
                <li><label class="heading">Add to &mdash;</label></li>
                <li class="divider"></li>
                <li ng-repeat="season in seasons">
                    <a tabindex="-1" ng-click="addEvent(season)">{{season.Name}}</a>
                </li>
                <li><a tabindex="-1" ng-click="addEvent()">New season</a></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
    <table last-tab-event="addEvent(-1)" when-focused="preventSorting">
        <thead>
            <tr>
                <th class="{{column.cssClass}}" ng-repeat="column in columns" ng-show="column.visible"
                    ng-class="{'sort-up': sortType == column.sortType && reverse == false, 'sort-down': sortType == column.sortType && reverse == true}">
                    <a title="{{column.toolTip}}" ng-click="sortBy('{{column.sortType}}')">{{column.name}}</a>
                </th>
            </tr>
        </thead>
        <tbody ng-hide="seasons.length > 0">
            <tr>
                <td class="fullinfo" colspan="{{columns.length}}">
                    No games have been posted for this team
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat="season in seasons | orderBy:'Order'" season-id="{{season.Id}}">
            <tr>
                <td class="fullheading" colspan="{{columns.length}}">
                    <input class="mod" type="text" ng-model="season.Name" complete-update ng-readonly="!editable" />
                    <div class="options pull-right" ng-if="editable">
                        <i class="icon-circle-arrow-up" title="Move season up" ng-show="season.Order != 0" ng-click="changeSeasonOrder(season, season.Order - 1)"></i>
                        <i class="icon-circle-arrow-down" title="Move season down" ng-show="season.Order != seasons.length-1" ng-click="changeSeasonOrder(season, season.Order + 1)"></i>
                        <i class="icon-trash" title="Delete season" data-toggle="modal" data-target="#season-delete-modal" ng-click="selectSeason(season)"></i>
                    </div>
                </td>
            </tr>

            <tr ng-hide="season.Games.length > 0">
                <td class="fullinfo" colspan="{{columns.length}}">There are no games in this season</td>
            </tr>

            <tr ng-repeat="game in season.Games">
                <td class="button" ng-show="columns[0].visible">
                    <a id="dropLabel" class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#"><i class="icon-edit"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropLabel">
                        <li class="dropdown-submenu">
                            <a tabindex="-1">Move to</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="moveSeason in seasons" ng-hide="moveSeason == season">
                                    <a tabindex="-1" ng-click="move(game, moveSeason)">{{moveSeason.Name}}</a>
                                </li>
                                <li class="divider" ng-if="seasons.length > 1"></li>
                                <li>
                                    <a tabindex="-1" ng-click="move(game)">New season</a>
                                </li>
                            </ul>
                        </li>
                        <!--li><a tabindex="-1">Mark as cancelled</a></!--li-->
                        <li><a tabindex="-1" ng-click="removeEvent(game)">Remove</a></li>
                    </ul>
                </td>
                <td class="date" ng-show="columns[1].visible">
                    <input ng-if="isMobile" class="mod" type="datetime-local" ng-model="game.DateTime" ng-readonly="!editable" />
                    <span ng-if="!isMobile" ng-switch="editable">
                        <input ng-switch-when="true" class="mod" type="text" ng-model="game.DateTime" datetime-picker ng-readonly="false" />
                        <input ng-switch-when="false" class="mod" type="text" ng-model="game.DateTime" ng-readonly="true" />
                    </span>
                </td>
                <td class="hometeam-points digit" ng-show="columns[2].visible">
                    <input class="mod" type="text" ng-model="game.ScoredPoints" complete-update ng-readonly="!editable" />
                </td>
                <td class="awayteam-points digit" ng-show="columns[3].visible">
                    <input class="mod" type="text" ng-model="game.AllowedPoints" complete-update ng-readonly="!editable" />
                </td>
                <td class="tiepoints digit" ng-show="columns[4].visible">
                    <input class="mod" type="text" ng-model="game.TiePoints" complete-update ng-readonly="!editable" />
                </td>
                <td class="icon">
                    <i ng-if="!editable" title="{{eventTypeTooltip(game.Type)}}" ng-class="eventTypeIcon(game.Type)"></i>
                    <button ng-if="editable" class="btn btn-link dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <i ng-class="eventTypeIcon(game.Type)"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" ng-click="game.Type = 0"><i class="icon-vs"></i> Game</a></li>
                        <li><a tabindex="-1" ng-click="game.Type = 1"><i class="icon-bullhorn"></i> Practice</a></li>
                        <li><a tabindex="-1" ng-click="game.Type = 2"><i class="icon-calendar-empty"></i> Meeting</a></li>
                        <li><a tabindex="-1" ng-click="game.Type = 3"><i class="icon-group"></i> Celebration</a></li>
                        <li><a tabindex="-1" ng-click="game.Type = 99"><i class="icon-blank"></i> None</a></li>
                    </ul>
                </td>
                <td class="max">
                    <input class="mod" type="text" ng-model="game.OpponentName" complete-update ng-readonly="!editable" />
                </td>
                <td class="location" ng-show="columns[7].visible">
                    <input location-editor class="mod" type="text" locid="{{game.Location.Id}}" value="{{locationDisplay(game.Location)}}" readonly="readonly" />
                    <div class="editor" ng-if="editable || showLocationEditor(game.Location)">
                        <div ng-if="editable || game.Location.Description">
                            <label>Name</label>
                            <location-typeahead model="game.Location.Description" locations="locations" />
                        </div>
                        <div ng-if="editable || game.Location.Street">
                            <label>Street</label>
                            <input type="text" class="js-street" ng-model="game.Location.Street" complete-update ng-readonly="!editable" />
                        </div>
                        <div ng-if="editable || game.Location.City">
                            <label>City</label>
                            <input type="text" class="js-city" ng-model="game.Location.City" complete-update ng-readonly="!editable" />
                        </div>
                        <div ng-if="editable || game.Location.Postal">
                            <label>Zip</label>
                            <input type="text" class="js-postal" ng-model="game.Location.Postal" complete-update ng-readonly="!editable" />
                        </div>
                        <div>
                            <button class="btn pull-right">Done</button>
                        </div>
                    </div>
                </td>
                <td class="sublocation" ng-show="columns[8].visible">
                    <input class="mod" type="text" ng-model="game.Location.InternalLocation" complete-update ng-readonly="!editable" />
                </td>
            </tr>            
        </tbody>
    </table>
    <div id="season-delete-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
            <p>Deleting this season will also remove all the games it contains.</p>
            <p>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary" data-dismiss="modal" ng-click="removeSeason(selectedSeason)">Yes, please delete</button>
        </div>
    </div>
</div>