<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <a class="navbar-brand" ng-click="toggleSidebar()">
            <i class="icon-reorder"></i>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-pencil"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="label-item">Add event to...</li>
                    <li ng-repeat="season in seasons"><a ng-click="addTo(season)">{{season.Name}}</a></li>
                    <li><a ng-click="addTo(null)">New season</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="container">
    <div class="row table-controls hidden-xs">
        <div class="col-md-6">
            <div ng-show="selectedItems().length > 0">
                <button class="btn btn-default" ng-click="removeItems()" title="Remove">
                    <i class="icon-trash"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Move">
                        <i class="icon-folder-open"></i> <i class="icon-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="label-item">Move to...</li>
                        <li role="presentation" class="divider"></li>
                        <li ng-repeat="season in seasons"><a ng-click="moveItems(season)">{{season.Name}}</a></li>
                        <li><a ng-click="moveItems(null)">New season</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dropdown pull-right">
                <button class="btn btn-primary" data-toggle="dropdown">
                    <i class="icon-pencil"></i> Add Event
                </button>
                <ul class="dropdown-menu">
                    <li class="label-item">
                        Add to...
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li ng-repeat="season in seasons">
                        <a ng-click="addTo(season)">{{season.Name}}</a>
                    </li>
                    <li>
                        <a ng-click="addTo(null)">New season</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped col-md-12">
            <thead>
                <tr>
                    <th class="column-icon hidden-xs"></th>
                    <th class="column-date">
                        <a ng-click="sortBy('DateTime')">Date</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'DateTime'"></i>
                    </th>
                    <th class="column-results hidden-xs">
                        <a ng-click="sortBy('Results')">Results</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Results'"></i>
                    </th>
                    <th>
                        <a ng-click="sortBy('OpponentName')">Title</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'OpponentName'"></i>
                    </th>
                    <th>
                        <a ng-click="sortBy('Location')">Location</a>
                        <i ng-class="sortIcon" ng-show="sortType == 'Location'"></i>
                    </th>
                    <th class="column-duties hidden-xs"></th>
                </tr>
            </thead>
            <tbody ng-repeat="season in seasons | orderBy:'Order'">
                <tr>
                    <td colspan="6" class="heading">
                        <input type="text" ng-model="season.Name" />
                        <div class="pull-right">
                            <a title="Move season up" ng-show="season.Order != 0" ng-click="changeCollectionOrder(season, season.Order - 1)">
                                <i class="icon-circle-arrow-up"></i>
                            </a>
                            <a title="Move season down" ng-show="season.Order != seasons.length-1" ng-click="changeCollectionOrder(season, season.Order + 1)">
                                <i class="icon-circle-arrow-down"></i>
                            </a>
                            <a title="Remove season" ng-click="removeCollection(season)">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-class="{selected: event.Selected}" ng-click="editItem(event)" ng-repeat-start="event in season.Games">
                    <td class="column-icon dropdown hidden-xs">
                        <input type="checkbox" ng-model="event.Selected" />
                    </td>
                    <td class="column-date dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventDate}}</a>
                        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <div class="datepicker well pull-left" ng-model="event.DateTime">
                                <datepicker show-weeks="false"></datepicker>
                            </div>
                            <div class="pull-right">
                                <clockpicker ng-model="event.DateTime"></clockpicker>
                            </div>
                        </div>
                    </td>
                    <td class="column-results dropdown hidden-xs" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventResults}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Scored</label>
                                <input type="number" class="form-control" ng-model="event.ScoredPoints" placeholder="Points scored" />
                            </li>
                            <li class="form-group">
                                <label>Allowed</label>
                                <input type="number" class="form-control" ng-model="event.AllowedPoints" placeholder="Points allowed" />
                            </li>
                            <li class="form-group">
                                <label>Tied</label>
                                <input type="number" class="form-control" ng-model="event.TiePoints" placeholder="Tied" />
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventTitle}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" ng-model="event.OpponentName" placeholder="Untitled"/>
                            </li>
                            <li class="form-group">
                                <label>Event type</label>
                                <input type="number" class="form-control" ng-model="event.Type"/>
                            </li>
                        </ul>
                    </td>
                    <td class="dropdown" edit-dropdown>
                        <a data-toggle="dropdown" data-target="#" tabindex="1">{{event | eventLocation}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" ng-model="event.Location.Description" placeholder="Short description" />
                            </li>
                            <li class="form-group">
                                <label>Street</label>
                                <input type="text" class="form-control" ng-model="event.Location.Street" placeholder="Street address" />
                            </li>
                            <li class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" ng-model="event.Location.City" placeholder="City" />
                            </li>
                            <!--<li class="form-group">
                                <label>Postal</label>
                                <input type="text" class="form-control" ng-model="event.Location.Postal"/>
                            </li>-->
                            <li class="form-group">
                                <label>Arena</label>
                                <input type="text" class="form-control" ng-model="event.Location.InternalLocation" placeholder="Rink, field, room, etc." />
                            </li>
                        </ul>
                    </td>
                    <td class="column-duties hidden-xs text-right" ng-class="{active: event.ShowDuties}">
                        <button class="btn btn-default btn-xs" ng-class="{active: event.ShowDuties}" ng-click="toggleDuties(event)">
                            <i class="icon-caret-down"></i> {{event.Duties.length}} {{event.Duties.length == 1 ? 'duty' : 'duties'}} 
                        </button>
                    </td>
                </tr>
                <tr ng-if="event.ShowDuties" ng-repeat-end>
                    <td class="duties" colspan="6">
                        <header>
                            <h4>Event duties</h4>
                            <button class="btn btn-sm btn-default" ng-click="addEventDuty(event)">
                                <i class="icon-plus"></i> Add duty
                            </button>
                        </header>
                        <p ng-show="event.Duties.length == 0">
                            This event currently has no duties attached to it.
                        </p>
                        <ul>
                            <li class="dropdown" ng-repeat="duty in event.Duties" edit-dropdown>
                                <a data-toggle="dropdown" data-target="#" tabindex="1">
                                    {{memberName(duty.PlayerId) || 'Unassigned'}} &mdash;
                                    {{duty.Name || 'New duty'}}
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li class="form-group">
                                        <label>Assigned to</label>
                                        <select class="form-control" ng-model="duty.PlayerId" ng-options="member.Id as (member | playerName) for member in members">
                                        </select>
                                    </li>
                                    <li class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control" ng-model="duty.Name" placeholder="Short description" />
                                    </li>
                                    <li class="pull-right">
                                        <button class="btn btn-sm btn-warning" ng-click="removeEventDuty(duty)">
                                            Remove
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>