<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="navbar-left">
            <a class="btn btn-info" href="#/schedule">
                <i class="fa fa-chevron-sign-left"></i> Settings
            </a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" ng-click="removeEvent(event)">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
    </div>
</header>

<div id="settings" class="container">
    <div class="buffered row">
        <fieldset class="col-md-12">
            <legend>General</legend>
            <div class="form-group col-xs-12 col-md-6">
                <label>Team name</label>
                <input type="text" class="form-control" ng-model="newName" complete-update />
            </div>
        </fieldset>
    </div>
    <div class="buffered row">
        <fieldset class="col-xs-12 col-md-6 bordered">
            <legend>Columns</legend>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Results</label>
                <select class="form-control" ng-model="settings.ResultsView" ng-options="option.value as option.name for option in resultsViewOptions"></select>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Arena</label>
                <div radio-button model="settings.ArenaColumn" true-text="Show" false-text="Hide"></div>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Last name</label>
                <div radio-button model="settings.LastNameColumn" true-text="Show" false-text="Hide"></div>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Position</label>
                <div radio-button model="settings.PositionColumn" true-text="Show" false-text="Hide"></div>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Phone</label>
                <div radio-button model="settings.PhoneColumn" true-text="Show" false-text="Hide"></div>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Email</label>
                <div radio-button model="settings.EmailColumn" true-text="Show" false-text="Hide"></div>
            </div>
        </fieldset>

        <fieldset class="col-xs-12 col-md-6 bordered">
            <legend>Privacy</legend>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Home page</label>
                <div radio-button model="privacy.HomePage" true-text="Public" false-text="Private"></div>
            </div>
            <div class="form-group">
                <label title="Set to private to hide your team site from the public">Roster</label>
                <div radio-button model="privacy.Roster" true-text="Public" false-text="Private"></div>
            </div>
        </fieldset>
    </div>
    <div class="buffered row">
        <div class="col-md-12">
            <button class="btn btn-link" data-dismiss="modal" data-toggle="modal" data-target="#delete-modal">
                Delete this team
            </button>
        </div>
    </div>
</div>
<form id="delete-modal" class="modal fade" ng-submit="deleteTeam()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Are you sure?</h3>
            </div>
            <div class="modal-body">
                <p>
                    Deleting this team will permanently remove all its associated schedule and roster data. This cannot be undone.
                </p>
                <p>
                    If you wish to hide the team tempoararily you can 
                    <a data-dismiss="modal" ng-click="privacy.HomePage = false">set its home page to private</a> instead.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-warning">Yes, please delete</button>
            </div>
        </div>
    </div>
</form>