<header class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <a ng-click="toggleSidebar()">
                        <i class="fa fa-reorder"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="settings" class="container">
    <div class="buffered row" ng-show="!verified">
        <div class="alert alert-danger">
            <p>
                <strong>Warning!</strong> You have not yet verified your email &mdash; messaging features are disabled
            </p>
            <p>
                <a ng-hide="verificationSent" ng-click="resendVerification()">Resend verification email</a>
                <strong ng-show="verificationSent">Sent verification email to {{email}}</strong>
            </p>
        </div>
    </div>
    <div class="buffered row">
        <div class="alert alert-success" ng-show="successMessage">
            {{successMessage}}
        </div>
        <div class="alert alert-danger" ng-show="errorMessage">
            {{errorMessage}}
        </div>
        <fieldset class="col-md-12">
            <legend>User settings</legend>
            <div class="form-group col-xs-12 col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="newEmail" />
                </div>
                <div ng-show="newEmail != email">
                    <button class="btn btn-success" ng-click="saveChanges()">Save changes</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>