@{
    ViewBag.Title = "About";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Question/answers</h2>

<section>
    <h4>What is Team Keep?</h4>
    <p>
        Team Keep is a resource for anyone managing a sports team. It allows captains, managers, and parents to quickly organize and 
        update their team schedule and roster information with controls for privacy and sorting. With Team Keep you'll no longer need to
        store paperwork for your schedule or roster. Just enter the information into Team Keep and update as necessary. 
        All of your data is saved automatically as you make changes.
    </p>
    <p>
        Team Keep has a very intuitive interface that works much like an Excel spreadsheet. Click into any field, make changes, and the information
        is updated on our end without refreshing the page. We think you'll agree this makes entering or editing data very fast, saving you hours of time.
    </p>
</section>

<section>
    <h4>The site is labeled as 'beta', what does that mean?</h4>
    <p>
        Team Keep launched at the end of March 2013 and is still undergoing heavy development. New features will be added very rapidly during this time. 
        Because we're excited to have people use these tools as soon as possible, we're doing what's called a 'soft launch' &mdash; the site is available to the public, 
        but not being heavily advertised. If you've found it during this time, welcome! 
    </p>
    <p>
        If there's a feature you'd really like to see that hasn't been implemented please <a href="mailto:info@teamkeep.com">send the development team an e-mail</a> 
        and we'll make every effort to accomodate your request.
    </p>
</section>

<section>
    <h4>Do I need to install anything?</h4>
    <p>
        Nope! Team Keep works entirely in your browser. It does however use modern web technologies which older browsers may not 
        support. Supported browsers are those that automatically update such as Chrome, Safari, Firefox, etc. as well 
        as Internet Explorer versions 9 and above. 
    </p>
</section>

<section>
    <h4>I need a team home page, can Team Keep do that?</h4>
    <p>
        Yes! The information you edit as a team manager is available in a public view. Your team can view their upcoming games and announcements at any
        time by simply visiting the team web site. Don't worry, they won't be able to make any changes &mdash; only you, the owner can make edits.
    </p>
</section>

<section>
    <h4>What devices are supported?</h4>
    <p>
        All of them! Team Keep's interface automatically resizes to fit any screen size. Just browse to the site like you would on
        a desktop computer and the interface expands or contracts to fill your screen's dimensions. You can even edit from a phone or tablet.
    </p>
</section>

<section>
    <h4>What kind of privacy controls are there?</h4>
    <p>
        You must be logged in and the owner of the team to see its private data. Email address and phone numbers are kept private by default 
        and this cannot be disabled. In addition, you can optionally hide the entire home page or the team roster entirely.
    </p>
</section>

<section>
    <h4>
        What technologies and libraries does Team Keep use?
    </h4>
    <ul>
        <li><a href="http://www.asp.net/mvc" target="somewhere">C# ASP.NET MVC 4</a></li>
        <li><a href="http://twitter.github.com/bootstrap/" target="somewhere">Twitter Bootstrap</a></li>
        <li><a href="http://jquery.com" target="somewhere">jQuery</a> & <a href="http://jqueryui.com" target="somewhere">jQuery UI</a></li>
        <li><a href="http://knockoutjs.com" target="somewhere">Knockout</a></li>
        <li><a href="http://lodash.com" target="somewhere">Lo-Dash</a></li>
        <li><a href="http://momentjs.com" target="somewhere">Moment.js</a></li>
        <li><a href="http://fortawesome.github.com/Font-Awesome/" target="somewhere">Font Awesome</a></li>
        <li><a href="http://trentrichardson.com/examples/timepicker/" target="somewhere">jQuery Timepicker Addon</a></li>
        <li><a href="http://www.jacklmoore.com/autosize/" target="somewhere">jQuery Autosize</a></li>
    </ul>
</section>

<section>
    <h4>I have a question not on this list</h4>
    <p>
        <a href="mailto:info@teamkeep.com">Send us an e-mail</a> and we'll be happy to answer it.
    </p>
</section>