@{
    ViewBag.Title = "About";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/PublicMaster.cshtml";
}

<div class="container main">
    <div class="row">
        <div class="span12">

            <h2>Question/answers</h2>

            <section>
                <h4>What is Team Keep?</h4>
                <p>
                    Team Keep is a resource for anyone managing a sports team. It allows captains, managers, and parents to quickly organize and 
                    update their team schedule, roster, and availablity information with controls for privacy and sorting. With Team Keep you'll no longer need to
                    store paperwork for your schedule or roster. Just enter the information into Team Keep and update as necessary. 
                    All of your data is saved automatically as you make changes.
                </p>
                <p>
                    Team Keep has a very intuitive interface that works much like an Excel spreadsheet. Click into any field, make changes, and the information
                    is updated on our end without refreshing the page. We think you'll agree this makes entering or editing data very fast, saving you hours of time.
                    In addition, Team Keep faciliates keeping in contact with your team. You can message your entire team updates all at once without tracking down
                    all of their individual e-mails.
                </p>
            </section>

            <section>
                <h4>The site is labeled as 'beta', what does that mean?</h4>
                <p>
                    Team Keep launched at the end of March 2013 and is still undergoing heavy development. New features will be added very rapidly during this time. 
                    Because we're excited to have people use these tools as soon as possible, we're doing what's called a 'soft launch' &mdash; the site is available to the public, 
                    but not being heavily advertised. If you've found it during this time, welcome! Even though the site is in 'beta', it is fully operational and no data will
                    be deleted when the beta tag is removed. Please make use of Team Keep and let us know what you think.
                </p>
                <p>
                    If there's a feature you'd really like to see that hasn't been implemented please <a href="mailto:info@teamkeep.com">send the development team an e-mail</a> 
                    and we'll make every effort to accomodate your request.
                </p>
            </section>

            <section>
                <h4>Do I need to install anything?</h4>
                <p>
                    Nope! Team Keep works entirely in your browser. It does however use modern web technologies which older browsers may not 
                    support. Supported browsers are those that automatically update such as Chrome, Safari, Firefox, etc. as well 
                    as Internet Explorer versions 9 and above. 
                </p>
            </section>

            <section>
                <h4>I need a team home page, can Team Keep do that?</h4>
                <p>
                    Yes! The information you edit as a manager is available in a public view. Your team and fans can view upcoming games and announcements at any
                    time by simply visiting the team web site. Don't worry, they won't be able to make any changes &mdash; only the owner can make edits.
                </p>
            </section>

            <section>
                <h4>Which devices are supported?</h4>
                <p>
                    All of them! Team Keep's interface automatically resizes to fit any screen size. Just browse to the site on your device's browser
                     and the interface expands or contracts to fill your screen's dimensions. You can even edit from a phone or tablet &mdash; we don't have or reduce
                    the availability functionality just because you're viewing from a smaller screen.
                </p>
            </section>

            <section>
                <h4>What kind of privacy controls are there?</h4>
                <p>
                    You must be logged in and the owner of the team to see its private data. Email addresses, phone numbers, and other private information is kept private by default 
                    and this cannot be disabled. In addition, you can optionally hide the entire home page or the team roster entirely. Finally, sections such as 'Availability' and 'Messages' are
                    only visible to the team manager.
                </p>
            </section>

            <section>
                <h4>I have a question not on this list</h4>
                <p>
                    <a href="mailto:info@teamkeep.com">Send an e-mail to info@teamkeep.com</a> and we'll be happy to answer it.
                </p>
            </section>
        </div>
    </div>
</div>