@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "About";
    ViewBag.Description = "Additional information about Teamkeep, a free online sports team management site. Track your team's games and roster; publish a team home page absolutely free.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container">
    <div class="row">
        <div class="col-md-12">

            <h1>More Information</h1>

            <section>
                <h4>What is Teamkeep?</h4>
                <p>
                    Teamkeep is a resource for anyone managing a sports team. It allows captains, managers, and parents to quickly organize and 
                    update their team schedule, roster, and availablity information with controls for privacy and sorting. With Teamkeep you'll no longer need to
                    store paperwork for your schedule or roster. Just enter the information into Teamkeep and update as necessary. 
                    All of your data is saved automatically as you make changes.
                </p>
                <p>
                    Teamkeep has a very intuitive interface that works much like an Excel spreadsheet. Click into any field, make changes, and the information
                    is updated on our end without refreshing the page. We think you'll agree this makes editing data very fast, saving you hours of time.
                    In addition, Teamkeep faciliates keeping in contact with your team. You can message your entire team all at once without tracking down
                    all of their individual emails.
                </p>
            </section>

            <section>
                <h4>I need a team home page, can Teamkeep do that?</h4>
                <p>
                    Yes! The information you edit as a manager is available in a public view. Your team and fans can view upcoming games at any
                    time by simply visiting the team web site. Don't worry, they won't be able to make any changes &mdash; only the owner can make edits.
                </p>
            </section>

            <section>
                <h4>Do I need to install anything?</h4>
                <p>
                    Nope! Teamkeep works entirely in your browser. It does however use modern web technologies which older browsers may not 
                    support. Supported browsers are those that automatically update such as Chrome, Safari, Firefox, etc. as well 
                    as Internet Explorer versions 9 and above. 
                </p>
            </section>

            <section>
                <h4>Which devices are supported?</h4>
                <p>
                    All of them! Teamkeep's interface automatically resizes to fit any screen size. Just browse to the site on your device's browser
                     and the interface expands or contracts to fill your screen's dimensions. You can even make updates from a phone or tablet.
                </p>
            </section>

            <section>
                <h4>What kind of privacy controls are there?</h4>
                <p>
                    You must be logged in and the owner of the team to see private data. Email addresses, phone numbers, and other private information is kept private by default 
                    and this cannot be disabled. In addition, you can optionally hide the entire home page or team roster entirely. Finally, sections such as 'Availability' and 'Messages' are
                    only visible to the team owner.
                </p>
            </section>
            
            <section>
                <h4>What does it cost?</h4>
                <p>
                    Teamkeep is completely free. 
                </p>
            </section>

            <section>
                <h4>I have another question</h4>
                <p>
                    <a href="mailto:info@teamkeep.com">Send an email to info@teamkeep.com</a> and we'll be happy to answer it.
                </p>
            </section>
        </div>
    </div>
</div>