<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '462322733853297', // App ID
            channelUrl: '//teamkeep.com/channel.html', // Channel File
            status: true, // check login status
            cookie: false, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });
    };

    // Load the SDK asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    $(function () {
        $(document).on("click", ".fb-login", function () {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {

                    var uid = response.authResponse.userID;
                    
                    $.post("/login/facebook", { UniqueId: "facebook/" + uid }, function (signInResponse) {
                        TeamKeep.signIn(signInResponse.AuthToken, signInResponse.Redirect);
                    });
                }
                else {
                    FB.login(function () {
                        setTimeout(function () { $(".fb-login:first").click(); }, 0);
                    });
                }
            });
        });
    });
</script>