@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Features";
    ViewBag.Description = "The features of Teamkeep, a free online sports team management site. Track your team's games and roster; publish a team home page absolutely free.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container">
    
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <h4><i class="fa fa-money"></i> Price</h4>
                </td>
                <td class="lead text-centered text-success">
                    <strike>$5/mo</strike><br/>
                    <strong>FREE</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-calendar"></i> Event scheduling</h4>
                    <p>
                        Teamkeep scheduling makes it easy to keep your event information organized
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-user"></i> Roster organizer</h4>
                    <p>
                        Organize your team members including positions and contact information
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <i class="fa fa-globe"></i> 
                        <a href="/features/free-team-website">Website</a>
                    </h4>
                    <p>
                        Free public home page for your team
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-check-circle"></i> Availability tracking</h4>
                    <p>
                        Need to know when your players are available? Teamkeep's availability tracks it all
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-shopping-cart"></i> Duty & task tracking</h4>
                    <p>
                        Track member responsibilities for past and upcoming team events
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-envelope"></i> Messaging</h4>
                    <p>
                        Stay connected with your team quickly and easily
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-mobile"></i> Mobile and tablet access</h4>
                    <p>
                        Teamkeep's interface automatically resizes to fit any screen size
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
            <tr>
                <td>
                    <h4><i class="fa fa-lock"></i> Security</h4>
                    <p>
                        All of your team data is password protected
                    </p>
                </td>
                <td class="text-centered text-success"><i class="fa fa-check fa-3x"></i></td>
            </tr>
        </tbody>

    </table>
</div>