@{
    ViewBag.Title = "Features";
    ViewBag.Description = "The features of Teamkeep, a free online sports team management site. Track your team's games and roster; publish a team home page absolutely free.";
    Layout = "~/Views/Shared/PublicMaster.cshtml";
}

<div id="features" class="container main">

     <div class="row">
        <div class="span4">
            <img src="/img/promo-schedule.png" />
        </div>
        <div class="span8">
            <h2>Scheduling</h2>
            <p>
                Teamkeep scheduling makes it easy to keep all of your game and event information up to date.
            </p>
            <ul>
                <li>Organize your events all in one place</li>
                <li>Include date, time, opponent, location and more</li>
                <li>Post the final results right on the schedule to track your performance</li>
                <li>Group events into seasons with no limit on how many seasons you can have</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-roster.png" />
        </div>
        <div class="span8">
            <h2>Roster</h2>
            <p>
                Organize your team positions, phone numbers, emails and more into an organized roster.
            </p>
            <ul>
                <li>Keep all of your team contact information in a sortable table</li>
                <li>Organize team members into different groupings (shifts, lines, active players, substitutes, etc.)</li>
                <li>Access roster information from your phone in case of emergencies</li>
                <li>Send email messages to your entire roster with a single button</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-homepage.png" />
        </div>
        <div class="span8">
            <h2>Team home page</h2>
            <p>
                When viewed publicly, your page becomes a customizable team home page.
            </p>
            <ul>
                <li>Upload a custom image or banner of your team</li>
                <li>Team members can access your site from any device to view the lastest information</li>
                <li>Players and fans can track your current record</li>
                <li>Control what information is available to the public with privacy controls</li>
                <li>If you don't want your home page made public, simply set it private and it is no longer visible</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-ab.png" />
        </div>
        <div class="span8">
            <h2>Availability</h2>
            <p>
                Need to know when your players are available? Teamkeep's availability tracks it all.
            </p>
            <ul>
                <li>Send members an email requesting their availability for individual events</li>
                <li>Never show up to a game with too few or too many players</li>
                <li>Ensure you always have the correct positions attending</li>
                <li>See past events to track attendance</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-mobile.png" />
        </div>
        <div class="span8">
            <h2>Mobile access</h2>
            <p>
                Teamkeep's interface automatically resizes to fit any screen size.
            </p>
            <ul>
                <li>Access your team site on the go with your mobile phone or tablet</li>
                <li>Message the entire team in one step from your phone</li>
                <li>No additional software or apps required, simply visit our site from your device</li>
                <li>The full interface is available on all devices - nothing is hidden</li>
            </ul>
        </div>
    </div>

</div>