@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Free team website";
    ViewBag.Description = "Get a free team website with Teamkeep, a free online sports team management tool for team captains and coaches.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container">
    <div class="row">
        <div class="col-md-5">

            <h1>Need a team website?</h1>
            <p>
                With Teamkeep you receive a team home page absolutely free!
            </p> 
            <p>
                Your schedule and roster information can be viewed
                publicly by visiting your Teamkeep team page. But don't worry, your data is secure. Only the team manager 
                can make changes or see sensitive information. And if you don't want your page made public, simply turn it off with 
                a single click.
            </p>
            <p>
                We know not every team is the same. So personalize your team page with a custom picture or banner. And if Teamkeep's 
                default columns don't apply to your sport, you can disable them in team settings.
            </p>
            <p>
                Best of all, if you're on the go and need to
                check your team schedule, you can do so right from your phone. Your team won't need to scramble to look up your schedule &mdash; 
                all of the updated information is kept securely online for you and your team to view when they need it.
            </p>
        </div>
        <div class="col-md-7 text-center">
            <img src="/img/promo-banner.jpg" alt="Teamkeep customizable team website"/>
        </div>
    </div>
</div>