@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Free team website";
    ViewBag.Description = "Get a free team website with Teamkeep, a free online sports team management tool for team captains and coaches.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container">
    <div class="row">
        <div class="col-md-5">

            <h1>Your information, organized</h1>
            <p>
                Keeping track your team's contact information, schedule, and other information can be a real hassle.
                Teamkeep simplifies the process by providing an easy to use interface where you can store all of your team information
                into organized, sortable tables. And then access any of it online from your home desktop, phone, or tablet.
            </p> 
            
            <ul>
                <li>Organize your team's event schedule</li>
                <li>Organize your team members into a roster</li>
                <li>Columns are customizable</li>
                <li>Turn on/off with privacy controls</li>
                <li>Accessible from phones and tablets</li>
            </ul>
        </div>
        <div class="col-md-7 text-center">
            <img src="/img/promo-banner.jpg" alt="Teamkeep customizable team website"/>
        </div>
    </div>
</div>