@{
    ViewBag.Title = "Features";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div id="features" class="container">

     <div class="row">
        <div class="span4">
            <img src="/img/promo-schedule.png" />
        </div>
        <div class="span8">
            <h2>Scheduling</h2>
            <p>
                Team Keep scheduling makes it easy to keep all of your game information up to date.
            </p>
            <ul>
                <li>Organize team events all in one place</li>
                <li>Include date, time, opponent, location and more</li>
                <li>Post the final score right on the schedule</li>
                <li>Organize events in an seasons with no limit on how many events you can have</li>
                <li>Sort by any of the available fields</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-roster.png" />
        </div>
        <div class="span8">
            <h2>Roster</h2>
            <p>
                Organize your team positions, phone numbers, emails and more onto one organized roster.
            </p>
            <ul>
                <li>Keep all of your team contact information on one sortable table</li>
                <li>Organize  team members into different groupings (shifts, lines, active players, substitutes, etc.)</li>
                <li>Access roster information from your computer or phone in case of emergencies</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-homepage.png" />
        </div>
        <div class="span8">
            <h2>Team home page</h2>
            <p>
                When viewed publicly, your page becomes a customizable team home page.
            </p>
            <ul>
                <li>Upload your a banner of your choosing</li>
                <li>Public announcements keep team members and fans alike updated on the team's status</li>
                <li>Fans can track your current record</li>
                <li>Control what information is available to the public with privacy controls</li>
                <li>If you don't your home page made public, simply set it private and it is no longer visible</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-ab.png" />
        </div>
        <div class="span8">
            <h2>Availability</h2>
            <p>
                Need to know when your players are available? Team Keep's availability tracks it all.
            </p>
            <ul>
                <li>Send members an e-mail requesting their availability for individual games</li>
                <li>Never show up to a game with too few or too many players</li>
                <li>Flag team member's availability manaully</li>
                <li>Always ensure you have the right positions in attendance</li>
                <li>See past events to track attendance</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <img src="/img/promo-mobile.png" />
        </div>
        <div class="span8">
            <h2>Mobile access</h2>
            <p>
                Team Keep's interface automatically resizes to fit any screen size.
            </p>
            <ul>
                <li>Access your team site on the go with your mobile phone or tablet</li>
                <li>Message the entire team in one step from your phone</li>
                <li>No additional software or apps required, simply visit teamkeep.com from any device</li>
                <li>The full interface is available on all devices - nothing is hidden</li>
            </ul>
        </div>
    </div>

</div>