<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Get started with Teamkeep
            </h2>
            <p class="text-center">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal">Sign up now</button>
            </p>
        </div>
    </div>
</div>
<footer id="footer" class="container">
    <div>
        &copy; 2013 Teamkeep
    </div>
    <ul>
    </ul>
</footer>