<div id="front-header" class="buffered container">
    <div class="row">
        <div class="logo col-md-5">
            <a href="/">
                <img src="/img/logo.png" alt="Teamkeep" />
            </a>
        </div>
        <div class="col-md-7 lead">
            <ul class="nav nav-pills text-right">
                <li><a class="hidden-xs" href="/">Home</a></li>
                <li><a class="hidden-xs" href="/features">Features</a></li>
                <li><a class="hidden-xs" href="/about">About</a></li>
                <li class="hidden-xs"><a href="http://teamkeep.tumblr.com">Blog</a></li>
                <li>
                    <button id="register-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal">Create an account</button>    
                </li>
            </ul>
        </div>
    
        <form id="register-modal" class="modal fade" ng-controller="RegisterController" ng-submit="registerUser()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Create an account</h3>
                    </div>
                    <div class="modal-body">
            
                        <div class="alert alert-danger" ng-show="error">
                            <span>{{error}}</span>
                        </div>

                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" tabindex="1" placeholder="Username" ng-model="username"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" tabindex="1" placeholder="Email" ng-model="email"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" tabindex="1" placeholder="Password" ng-model="password"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left hidden-xs">
                            <span>Or use: </span>
                            <button type="button" class="btn btn-default fb-login" tabindex="2">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </button>
                            <a class="btn btn-default" href="/login/openid/google" tabindex="2">
                                <i class="fa fa-google-plus-square"></i> Google
                            </a>
                        </div>

                        <button type="button" class="btn btn-default" tabindex="3" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button type="submit" class="btn btn-success" spinning="evaluating" tabindex="1">Sign up now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>