@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Free Sports Team Management Software";
    ViewBag.Description = "Manage your sports team online for free with Teamkeep. Captains and coaches can organize their games, practices, and roster with our easy to learn interface and keep their team members informed with a home page viewable from any device.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container" ng-controller="LoginController">
    <div class="row well well-lg">
        <div class="col-md-7 hidden-xs hidden-sm lead">
            <p>
                Teamkeep organizes your team's schedule and roster so you can focus on being a great coach or team captain.
                It's absolutely <em>free</em>, takes just seconds to setup, and is incredibly simple to use.
            </p>
            <p>
                With time saving features such as availability tracking and team messaging, Teamkeep will save you hours of time
                and take the guesswork out of team management.
            </p>
            <p>
                <a data-toggle="modal" data-target="#register-modal">Get started now</a>
            </p>
        </div>
        <div class="col-md-5">
            <h3 class="hidden-xs">Login</h3>
            <div>
                <form ng-submit="loginUser()">
                    
                    <div class="alert alert-danger" ng-show="loginError">
                        <span>{{loginError}}</span>
                    </div>

                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="username" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-key"></i></span>
                            <input type="password" class="form-control" placeholder="Password" ng-model="password" />
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" spinning="loginEvaluating">
                            Sign in <i class="icon-lock"></i>
                        </button>
                        <a class="btn btn-link" data-toggle="modal" data-target="#reset-modal">Forgot your password?</a>   
                    </div>
                </form>
                 
                <hr />

                <h4>Or sign in with</h4>
                <div>
                    <button type="button" class="btn btn-flat fb-login"><i class="icon-facebook-sign"></i> Facebook</button>
                    <a class="btn btn-flat" href="/login/openid/google"><i class="icon-google-plus-sign"></i> Google</a>
                </div>
            </div>           
        </div>
    </div>
    
    <form id="reset-modal" class="modal fade" ng-submit="sendResetPassword()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Password reset</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="sendResetError">
                        <span>{{sendResetError}}</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="username"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-success" spinning="sendResetEvaluating">Send reset email</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row hidden-xs">
        <div id="features-carousel" class="col-md-7 carousel">
            <ol class="carousel-indicators">
                <li data-target="#features-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#features-carousel" data-slide-to="1"></li>
                <li data-target="#features-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/img/promo1.png" alt="Teamkeep interface"/>
                    <div class="carousel-caption">
                        <h4>Intuitive Interface</h4>
                        <p>
                            No manual required! Edit on the fly by simply clicking fields you'd like to change &mdash; changes are uploaded and saved automatically. 
                            Schedule and roster tables are easy to use and adapt to your needs. You can sort on any column and turn off those you don't need.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/promo2.png" alt="Teamkeep team pages"/>
                    <div class="carousel-caption">
                        <h4>Team Home Page</h4>
                        <p>
                            Publish an online site for your team. With built in privacy controls you control what is visible. Your team stays informed of changes with a central 
                            location for announcements and updated schedule information. Everything you need to manage is now all in one place, automatically organized, 
                            where players and fans can view it anytime.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/promo4.png" alt="Teamkeep availability"/>
                    <div class="carousel-caption">
                        <h4>Availability</h4>
                        <p>
                            Never show up without required positions or the wrong number of players. 
                            With free availability tracking, you stay current on who can make your upcoming events. 
                            Have Teamkeep send email requests to your team allowing them to confirm their availablility. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/promo3.png" alt="Teamkeep responsive design"/>
                    <div class="carousel-caption">
                        <h4>Responsive Design</h4>
                        <p>
                            Access your team site from your phone or tablet &mdash; the responsive interface automatically resizes to accomodate any screen size. 
                            Make updates and keep up-to-date with your team from any device while on the go. Keep your teammates updated of last minute changes by messaging your entire
                            roster in one step, right from your phone!
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#features-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#features-carousel" data-slide="next">&rsaquo;</a>
        </div>
        <div class="col-md-5">
            
            <h3>Features</h3>

            <div id="features-accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse1">
                            Roster <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Have a lot of phone numbers and emails to keep track of? Organize your player information including positions and more.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse2">
                            Schedule <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Post your team's upcoming events, track your current record, and access your schedule while on the go.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse3">
                            Home page <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse in">
                        <div class="panel-body">
                            Instantly publish a team home page where members and fans alike can view your up-to-date schedule and roster information.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse6">
                            Customization <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Personalize your home page with a picture or banner of your team.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse4">
                            Availability <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Track player availability for upcoming events and request confirmations via email.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse-duties">
                            Duties <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse-duties" class="panel-collapse collapse">
                        <div class="panel-body">
                            Track who needs to bring gear or snacks, coach the game, and other event responsibilites.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse5">
                            Messaging <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Send team updates on the go! With Teamkeep you can message your entire team in one step from any device.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse7">
                            Device support <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Every device is supported! Teamkeep's responsive interface automatically resizes to fit 
                            any screen size. Mobile, tablet, or desktop &mdash; it's all supported.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse8">
                            Privacy <i class="pull-right icon-check icon-2x"></i>
                        </a>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            Built in privacy controls keep your information safe. You control what is publicly available.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-12">
            <h3 class="text-center">
                Get started with Teamkeep
            </h3>
            <p class="text-center">
                <button class="btn btn-info btn-large" data-toggle="modal" data-target="#register-modal">Sign up now</button>
            </p>
        </div>
    </div>
</div>