@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Manage Your Sports Team Online With Teamkeep's Free Team Websites";
    ViewBag.Description = "Manage your sports team online for free with Teamkeep. Captains and coaches can organize their games, practices, and roster with our easy to learn interface and keep their team members informed with a home page viewable from any device.";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container" ng-controller="LoginController">
    <div class="row well well-lg">
        <div class="col-md-7 hidden-xs lead">
            <p>
                Teamkeep organizes your team's schedule and roster so you can focus on being a great coach or team captain.
                It's absolutely <em>free</em>, takes just seconds to setup, and is incredibly simple to use.
            </p>
            <p>
                With time saving features such as availability tracking and team messaging, Teamkeep will save you hours of time
                and take the guesswork out of team management.
            </p>
            <p class="text-center">
                <strong>
                    <a data-toggle="modal" data-target="#register-modal">Get started now</a>
                </strong>
            </p>
        </div>
        <div class="col-md-5">
            <h3 class="hidden-xs">Login</h3>
            <div>
                <form ng-submit="loginUser()">
                    
                    <div class="alert alert-danger" ng-show="loginError">
                        <span>{{loginError}}</span>
                    </div>

                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="username" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Password" ng-model="password" />
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" spinning="loginEvaluating">
                            Sign in <i class="fa fa-lock"></i>
                        </button>
                        <a class="btn btn-link" data-toggle="modal" data-target="#reset-modal">Forgot your password?</a>   
                    </div>
                </form>
                 
                <hr />

                <h4>Or sign in with</h4>
                <div>
                    <button type="button" class="btn btn-default fb-login"><i class="fa fa-facebook-square"></i> Facebook</button>
                    <a class="btn btn-default" href="/login/openid/google"><i class="fa fa-google-plus-square"></i> Google</a>
                </div>
            </div>           
        </div>
    </div>

    @Html.Partial("FacebookLogin")
    
    <form id="reset-modal" class="modal fade" ng-submit="sendResetPassword()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Password reset</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="sendResetError">
                        <span>{{sendResetError}}</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="username"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-success" spinning="sendResetEvaluating">Send reset email</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row hidden-xs">
        <div class="col-md-4 text-center">
            <p>
                <i class="fa fa-trophy fa-4x"></i>
            </p>
            <h2>Schedule & Roster</h2>
            <p>
                Your team members and schedule, organized in one place and accessible from wherever you are. 
                Teamkeep's responsive interface keeps you organized whether you're at home or on the go.
            <p>
        </div>
        <div class="col-md-4 text-center">
            <p>
                <i class="fa fa-envelope fa-4x"></i>
            </p>
            <h2>Availability & Messaging</h2>
            <p>
                Track team member availability for your upcoming events and request confirmations via email. Send out event 
                reminders and other messages to the entire team quickly and easily.
            <p>
        </div>
        <div class="col-md-4 text-center">
            <p>
                <i class="fa fa-globe fa-4x"></i>
            </p>
            <h2>Team Website</h2>
            <p>
                Instantly publish a home page where team members and fans can view up-to-date schedule and roster information
                and stay connected with your team's progress.
            <p>
        </div>
    </div>

    <hr />

    <div class="buffered row hidden-xs">
        <div class="col-md-5">
            
            <h2 class="text-center">Full Featured</h2>

            <div id="features-accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse1">
                            Roster <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Have a lot of phone numbers and emails to keep track of? Organize your player information including positions and more.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse2">
                            Schedule <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Post your team's upcoming events, track your current record, and access your schedule while on the go.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse3">
                            Home page <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse in">
                        <div class="panel-body">
                            Publish a free team website where members and fans can view your team schedule and roster.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse6">
                            Customization <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Personalize your home page with a picture or banner of your team.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse4">
                            Availability <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Track player availability for upcoming events and request confirmations via email.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse-duties">
                            Duties <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse-duties" class="panel-collapse collapse">
                        <div class="panel-body">
                            Track who needs to bring gear or snacks, coach the game, and other event responsibilites.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse5">
                            Messaging <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Send team updates on the go! With Teamkeep you can message your entire team in one step from any device.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse7">
                            Device support <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Every device is supported! Teamkeep's responsive interface automatically resizes to fit 
                            any screen size. Mobile, tablet, or desktop &mdash; it's all supported.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#features-accordion" href="#collapse8">
                            Privacy <i class="pull-right fa fa-check-square-o fa-2x"></i>
                        </a>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            Built in privacy controls keep your information safe. You control what is publicly available.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-7 hidden-sm">
           <img src="/img/promo-main.jpg" />
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-12">
            <h2 class="text-center">
                Get started with Teamkeep
            </h2>
            <p class="text-center">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal">Sign up now</button>
            </p>
        </div>
    </div>
</div>
<div id="outdated-browser" class="alert alert-danger" style="display: none;">
    <div class="col-md-offset-1 col-md-9">
        <h1>Outdated browser</h1>
        <p>
            It appears you are currently using an outdated version of Internet Explorer. Teamkeep uses advanced
            rendering to deliver an enhanced user experience, the technology for which only works on up-to-date browsers.
        </p>
        <h3>Options (all of which are free)</h3>
        <ul>
            <li><a class="outdated-browser-link" href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></li>
            <li><a class="outdated-browser-link" href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
            <li><a class="outdated-browser-link" href="http://windows.microsoft.com/en-us/internet-explorer/ie-9-worldwide-languages">Update your current browser to a supported version</a></li>
        </ul>
    </div>
</div>
<script>
    // http://james.padolsey.com/javascript/detect-ie-in-js-using-conditional-comments/
    var ie = (function () {
        var undef,
            v = 3,
            div = document.createElement('div'),
            all = div.getElementsByTagName('i');
        while (
            div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
            all[0]
        );
        return v > 4 ? v : undef;
    }());

    if (ie < 9) {
        $("#outdated-browser").show();
        $("body").find("a[href]:not('.outdated-browser-link')").removeAttr("href") // disable links
        $("body").find("[data-toggle]").removeAttr("data-toggle"); // disable bootstrap
        $("html").css({ "overflow": "hidden" }); // disable scrolling
    }
</script>