@{
    ViewBag.Title = "Not found";
    ViewBag.Description = "";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container main">
    <div class="span12">
        <h1>Thanks for visiting</h1>
        <p>
            Unfortunately the page you were directed to does not exist on this server. Try one of these other options:
        </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</div>