@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Password Reset";
    ViewBag.Description = "Reset your password";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container" ng-controller="LoginController">
    <div class="row">
        <div class="col-md-12">
            <h1>Reset your password</h1>

            <form class="form-horizontal" ng-submit="resetPassword()">

                <div class="alert alert-danger" ng-show="resetError">
                    {{resetError}}
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Username</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Your username" ng-model="username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">New password</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" placeholder="Your new password" ng-model="newPassword" />
                    </div>
                </div>
                <div class="col-md-5 text-right">
                    <button type="submit" class="btn btn-success" spinning="resetEvaluating">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>