@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "Password Reset";
    ViewBag.Description = "Reset your your password";
}

<div class="container">
    <div class="row-fluid">
        <h1>Password Reset Requested</h1>
        <p>
            A reset e-mail has been sent to the e-mail address you provided. Follow the instructions within to reset your password.
        </p>
        <p>
            If the e-mail does not arrive within 10 minutes, please check your spam folder.
        </p>
    </div>
</div>