@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = "Password Reset";
    ViewBag.Description = "Reset your password";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="buffered container" ng-controller="LoginController">
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="resetPassword()">
                <h1>Reset your password</h1>

                <div class="alert alert-danger hide">
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Your username" ng-model="username" />
                </div>

                <div class="form-group">
                    <label class="control-label">New password</label>
                    <input type="password" class="form-control" placeholder="Your new password" ng-model="newPassword" />
                </div>

                <button type="submit" class="btn btn-success" spinner="resetEvaluating">Reset password</button>
            </form>
        </div>
    </div>
</div>