@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "Password Reset";
    ViewBag.Description = "Reset your your password";
}

<div class="container main">
    <div class="row">
        <div class="span8">
            <h1>Password Reset Requested</h1>
            <p>
                A reset email has been sent to the email address linked to the username you provided. Follow the instructions within to reset your password.
            </p>
            <p>
                If the email does not arrive within 10 minutes, please check your spam folder.
            </p>
        </div>
    </div>
</div>