<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/home">
                <img src="/img/logo.png" alt="Teamkeep" style="height: 25px"/>
            </a>
             <!-- ko if: User -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span data-bind="">Teams</span> 
                            <b class="caret"></b>
                        </a>
                        <ul id="team-list" class="dropdown-menu">
                            <!-- ko foreach: User.Teams -->
                            <li><a data-bind="text: Name, attr: { href: Url() }"></a></li>
                            <!-- /ko -->
                            <li class="divider"></li>
                            <li><a href="#" data-toggle="modal" data-target="#newteam-modal">New team...</a></li>
                        </ul>
                    </li>
                    <!--li><a href="#settings">Settings</a></!--li-->
                    <li><a href="#" data-bind="click: Logout">Logout</a></li>
                </ul>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: User -->
            <div class="pull-right">
                <span class="hidden-phone">
                    <a href="/?register=true">Create an account</a> or 
                </span>
                <a class="btn btn-success" href="/">Sign in <i class="icon-lock icon-white"></i></a>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<form id="newteam-modal" class="modal hide fade" data-bind="submit: CreateTeam">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New team</h3>
    </div>
    <div class="modal-body">
        
        <div id="team-types" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn active" tabindex="1" data-bind="click: function() { $root.NewTeamType('sports'); }">
                <h4>Sports</h4>
                <div class="background"></div>
                <ul class="hidden-phone">
                    <li>First and last name</li>
                    <li>Team positions</li>
                    <li>Phone and email enabled</li>
                    <li>Points scored results</li>
                </ul>
            </button>
            <button type="button" class="btn" tabindex="1" data-bind="click: function() { $root.NewTeamType('online'); }">
                <h4>Online</h4>
                <div class="background"></div>
                <ul class="hidden-phone">
                    <li>Single name</li>
                    <li>No positions</li>
                    <li>Email only</li>
                    <li>Tournament results</li>
                </ul>
            </button>
            <button type="button" class="btn" tabindex="1" data-bind="click: function() { $root.NewTeamType('club'); }">
                <h4>Club</h4>
                <div class="background"></div>
                <ul class="hidden-phone">
                    <li>First and last name</li>
                    <li>No positions</li>
                    <li>Phone and email enabled</li>
                    <li>No event results</li>
                </ul>
            </button>
        </div>
        
        <div class="input-prepend">
            <span class="add-on"><i class="icon-star highlight"></i></span>
            <input type="text" placeholder="Team name" data-bind="value: NewTeamName" required tabindex="1" />
        </div>
        
        <div class="pull-right hidden-phone">
            * Options can be changed later
        </div>
        
        <div>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: NewTeamMakePublic" tabindex="1"> Make team home page public
            </label>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: NewTeamPrepopulate" tabindex="1"> Populate team with sample schedule and roster
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true" tabindex="2">Cancel</button>
        <button class="btn btn-primary" tabindex="1">
            <i class="icon-spinner icon-spin"></i> Create
        </button>
    </div>
</form>
<script>
    var HeaderViewModel = function(data) {
        var me = this;
        ko.mapping.fromJS(data, {}, me);

        this.NewTeamType = ko.observable('sports');
        this.NewTeamName = ko.observable("");
        this.NewTeamMakePublic = ko.observable(true);
        this.NewTeamPrepopulate = ko.observable(true);

        this.CreateTeam = function () {
            
            if (me.NewTeamName().length === 0) {
                return $("#alert-modal").fadeAlert("show", "Team must have a name");
            }

            $("#newteam-modal button").prop("disabled", true);
            $("#newteam-modal .icon-spin").show();
            $.ajax({
                type: "POST",
                url: "/teams",
                data: {
                    Type: me.NewTeamType(),
                    Name: me.NewTeamName(),
                    MakePublic: me.NewTeamMakePublic(),
                    Prepopulate: me.NewTeamPrepopulate()
                },
                success: function (response) {
                    window.location = response.Url;
                },
                error: function () {
                    $("#newteam-modal button").prop("disabled", false);
                    $("#newteam-modal .icon-spin").hide();
                }
            });
        };
        this.Logout = function() {
            document.cookie = "teamkeep-token=notoken;path=/;expires=" + new Date(0).toGMTString();
            document.location = "/";
        };
    };

    window.headerViewModel = ko.mapping.fromJS(viewData, ko.mapping.toViewModel(HeaderViewModel));
    ko.applyBindings(window.headerViewModel, document.getElementById("header"));
</script>