@model TeamKeep.Models.Login 
<!DOCTYPE html>
<html>
    <head>
        <title>Redirecting...</title>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
        <script src="/Scripts/teamkeep.js"></script>
        <script>
            TeamKeep.signIn(@Html.Raw(Json.Encode(Model.AuthToken)), "@Model.Redirect");
        </script>
    </head>
    <body></body>
</html>