@model Teamkeep.Models.ViewModels.UserHomeViewModel
@{
    ViewBag.App = "teamkeep";
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                @foreach(var team in Model.User.Teams)
                {
                    var backgroundImage = (team.BannerImage != null) ? "url('/TeamBanners/" + team.BannerImage + "')" : "url('/img/defaultbanner.png')";
                    <li class="banner" style="background-image: @backgroundImage">
                        <h1>
                            <a href="@team.Url">@team.Name</a>
                        </h1>
                    </li>
                }  
                <li class="banner">
                    <h1>
                        <a data-toggle="modal" data-target="#newteam-modal">Create a new team</a>    
                    </h1>
                </li>  
            </ul>
        </div>
    </div>
    <div create-team-modal="false"></div>
</div>
