@{
    ViewBag.Title = "Thanks for verifying your email";
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="buffered container">
    <div class="row">
        <div class="span12">
            <h1>Thank you</h1>
            <p>
                Your email has been verified. You will be redirected to <a href="/">Teamkeep home</a> in 5 seconds.
            </p>
        </div>
    </div>
</div>
<script>
    setTimeout(function() {
        document.location = "/";
    }, 5000)
</script>